@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.post-scheduler-scheduled {
  display: flex;
  align-items: center;

  .date, .reset-date {
    color: $dark-sky-blue;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .date {
    font-size: 90%;
    margin-right: 20px;
  }

  .reset-date {
    display: inline-flex;
    svg {
      height: 16px;
    }
  }
}

.post-scheduler-dialog {
  .modal-body {
    padding-top: 10px;

    .picker {
      margin-bottom: 20px;
    }
  }
}
.error {
  display:flex;
  padding: 12px 30px;
  justify-content: center;
  .error-info {
    color: $red2;
    font-size: 93%;
    font-weight: 400;
  }
}