@import "src/style/vars_mixins";

.slide {
  height: 50px;
  width: 100%;
  cursor: pointer;
  margin-top: 11px;
}

.slide-background-line{
  height: 4px;
  border-radius: 15px;
  width: 100%;
  position: relative;
  top: 5.5px;
  cursor: pointer;
  @include themify(day) {
    @apply bg-light-300;
  }

  @include themify(night) {
    @apply bg-gunmetal;
  }
}

.slider-line{
  height: 4px;
  max-width: 100%;
  pointer-events: none;
}

.slider-dot{
  width: 10px;
  height: 10px;
  border-radius: 8px;
  display: block;
  pointer-events: none;
}
.pointer-dot{
  width: 15px !important;
  height: 15px !important;
  top: -10px;
  position: relative;
}

.dots-container{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -21.5px;
  pointer-events: none;
}

.label-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin-left: 2px;
  position: relative;
  top: -31px;
}

.dots-negative{
  top: 21.5px !important; 
}

.no-select{
  user-select: none;
}