.delegated-vesting-content {
  height: 370px;
  overflow: auto;
  padding-top: 1px;

  &.hidden {
    display: none;
  }

  &.in-progress {
    pointer-events: none;
    opacity: 0.7;
    padding-top: 0;
  }

  .user-list {
    @include user-grid-list(1, 2, 2);

    .item-extra {
      display: flex;
      justify-content: space-between;
    }
  }
}
