@import "../../../../style/vars_mixins";

.chatbox-container {
  position: fixed;
  z-index: 99;
  right: 13rem;
  bottom: 0rem;
  height: 53px;
  width: 410px;

  border-top-right-radius: 16px;
  border-top-left-radius: 16px;

  transition: height 0.5s ease;

  @include themify(day) {
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background: $white;
  }

  @include themify(night) {
    background: $dark;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  }

  &.expanded {
    height: 530px;
  }

  .chat-header {
    border-bottom: 1px solid $white-four;
    padding-left: 10px;
    padding-right: 4px;
    cursor: pointer;
    height: 53px;
    display: flex;
    justify-content: space-between;
    @include themify(day) {
      border-bottom: 1px solid $white-four;
    }

    @include themify(night) {
      border-bottom: 1px solid $dark-indigo;
    }

    .back-arrow-image {
      justify-content: center;
      display: flex;
      align-items: center;
      .back-arrow-svg {
        border-radius: 50%;
        padding: 6px;
        margin-top: 6px;
      }
    }

    .back-arrow-svg:hover {
      background: rgba(29, 155, 240, 0.1);
    }
    .message-header-title {
      display: flex;
      width: 288px;
      margin-left: 0.1rem;
      .user-icon {
        margin: 17px 11px 0 0;
      }
    }

    .message-header-content {
      margin: 1rem 0;
      font-weight: 700;
      line-height: 24px;
      font-size: 21px;
      font-family: $font-family-sans-serif;

      max-width: 185px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;

      @include themify(day) {
        color: $charcoal-grey;
      }

      @include themify(night) {
        color: $white-two;
      }
    }

    .actionable-imgs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.1rem;
      .message-image,
      .extended-image {
        margin-top: 2px;

        .message-svg,
        .extended-svg {
          width: 35px;
          height: 35px;
          justify-content: center;
          text-align: center;
          border-radius: 50%;
          padding-top: 10px;
          display: flex;

          svg {
            height: 20px;
            width: 20px;
          }
        }
        .extended-svg {
          padding-top: 8px;
        }
        .message-svg:hover,
        .extended-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
      .arrow-image {
        margin: 1.5 0.3rem 0 0;
        .arrow-svg {
          display: flex;
          justify-content: center;
          text-align: center;
          padding-top: 3px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-bottom: 14px;
        }

        .arrow-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
      .community-menu,
      .simple-menu {
        border: none;
        margin-bottom: 13px;
        svg {
          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $white-two;
          }
        }
      }
    }
  }

  .chat-body {
    position: relative;
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;

    .community-header,
    .dm-header {
      padding: 10px;
      border-bottom: 1px solid #e7e7e7;
      padding-left: 14px;
      font-family: Faktum, sans-serif;
      font-weight: 700;
    }

    &.current-user {
      padding-bottom: 10px;
      height: 412px;
      margin-bottom: 8px;
      @include themify(day) {
        border-bottom: 1px solid $white-three;
      }
      @include themify(night) {
        border-bottom: 1px solid #172b44;
      }
    }

    &.community {
      height: 412px;
      margin-bottom: 8px;
      @include themify(day) {
        border-bottom: 1px solid $white-three;
      }
      @include themify(night) {
        border-bottom: 1px solid #172b44;
      }
    }

    &.no-scroll {
      overflow: hidden;
    }

    &.join-chat {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .no-chat {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
    }
    .start-chat-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user-search-bar {
      margin: 12px;
    }
    .user-search-suggestion-list {
      .search-content {
        padding: 0.7rem;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        margin-bottom: 1rem;

        .search-user-img {
          justify-content: center;
          align-items: center;
          display: flex;
          margin-left: 10px;
        }

        .search-user-title {
          display: flex;
          margin-left: 1rem;
          .search-username {
            margin: 7px 0 0 0;
            font-size: 20px;
            font-weight: 700;
          }
          .search-reputation {
            margin: 9px 0 0 6px;
          }
        }
        &:hover {
          @include themify(day) {
            background: $white-four;
          }
          @include themify(night) {
            background: $charcoal-grey;
          }
        }
      }
    }

    .chat-content {
      display: flex;
      cursor: pointer;
      border-bottom: 0.5px solid rgba(134, 150, 160, 0.15);

      .user-img {
        padding: 13px 16px;
      }
      .user-title {
        padding-top: 6px;
        width: -webkit-fill-available;

        .username {
          padding-top: 8px;
          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $white-two;
          }

          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0.2rem !important;
        }
        .last-message {
          max-width: 320px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }

    .chat-content:hover {
      @include themify(day) {
        background: #eeeeee;
      }
      @include themify(night) {
        background: $gunmetal;
      }
    }

    .scroller {
      position: sticky;
      margin-left: 89%;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include themify(day) {
        background: #e4e6eb;
        border: 1px solid $white-five;
      }
      @include themify(night) {
        background: #0f223a;
      }

      svg {
        @include themify(day) {
          color: $dark-sky-blue;
        }
        @include themify(night) {
          color: $white;
        }

        width: 20px;
        height: 20px;
      }
    }

    .chats {
      .not-joined {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 14%;
      }
    }

    .import-chats {
      margin-top: 20px;
    }

    .manage-chat-key {
      .private-key {
        .form-group {
          width: 90vw !important;
        }
      }
    }
  }

  &.small-screen {
    right: 0;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(1, 1fr);
    .chat-header {
      width: 100vw;
      grid-row: span 5;
    }
    .back-arrow-svg {
      padding: 0;
    }
    .message-header-content {
      max-width: 40vw !important;
    }
    .sender-message-content,
    .receiver-message-content {
      max-width: 75vw !important;
    }
    &.expanded {
      height: 100vh;
    }
    .message-header-title {
      width: 100vw;
      margin-right: 0.3rem;
      margin: 0;
    }
    .chat-body {
      grid-row: span 95;
      height: 100%;

      &.current-user,
      .community {
        grid-row: span 90;
      }

      .chat-content {
        .last-message {
          max-width: 75vw;
        }
      }
    }
    .chat {
      grid-row: span 5;
    }
  }
}
