@import "../../../style/vars_mixins";

.submit-page {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $lg-break) {
    flex-direction: row;
    height: calc(100% - 104px) !important;
  }

  .editor-panel,
  .preview-panel,
  .advanced-panel {
    border-radius: $input-border-radius * 0.5;
    flex-basis: 49%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    position: relative;

    @media (min-width: $lg-break) {
      height: 100%;
      margin-bottom: 0;
    }

    @include themify(day) {
      background: $white-two;
    }

    @include themify(night) {
      background: lighten($dark-six, 4);
    }

    .bottom-toolbar {
      height: 44px;
      flex-shrink: 0;
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .action-buttons {
        display: flex !important;
      }
    }
  }

  .editor-panel {
    .community-input {
      height: 44px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      @media (max-width: $sm-break) {
        height: 64px;
        margin: 10px 0;
      }
    }

    .title-input,
    .body-input,
    .tag-input {
      margin-top: 10px;
      position: relative;

      .form-control {
        border-radius: 8px;
        background: transparent;
        border: none;

        &:focus {
          @include themify(day) {
            background: lighten($yellow, 46);
          }

          @include themify(night) {
            background: lighten($dark-six, 10);
          }
        }

        @include themify(night) {
          color: $silver;
        }
      }
    }

    .title-input {
      .form-control {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .body-input {
      flex-grow: 1;
      display: flex;

      textarea {
        resize: none;
        font-size: 21px;

        line-height: 1.5;
        flex-grow: 1;
      }
    }
  }

  .preview-panel,
  .advanced-panel {
    margin-bottom: 14px;

    @media (min-width: $lg-break) {
      margin-bottom: 0;
    }

    .panel-header {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      flex-shrink: 0;

      .panel-header-title {
        color: $dark-sky-blue;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
      }

      .words-count {
        color: lighten($steel-grey, 10);
        margin-right: 20px;

        .words {
          margin-right: 10px;
        }
      }
    }
  }

  .preview-panel {
    .preview-title,
    .preview-tags,
    .preview-body {
      padding: 5px 12px;
      margin-top: 10px;
      font-size: 21px;

      @include themify(day) {
        color: $tundora;
      }
    }

    .preview-title {
      font-size: 24px;
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
      height: 43px;
      flex-shrink: 0;

      @include themify(day) {
        color: $charcoal-grey;
      }

      @include themify(night) {
        color: $pinkish-grey;
      }
    }

    .preview-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      flex-shrink: 0;

      .preview-tag {
        border-radius: 25px;
        font-size: 14px;
        line-height: 1em;
        margin: 0 4px 2px 0;
        padding: 4px 12px;

        @include tag;
      }
    }

    .preview-body {
      overflow-x: auto;
      flex-grow: 1;
    }
  }

  .advanced-panel {
    .panel-body {
      overflow-x: auto;
      flex-grow: 1;
    }
  }

  &:not(.editing) {
    .preview-panel, .advanced-panel {
      .panel-header {
        @media (min-width: $lg-break) {
          margin-bottom: 36px;
        }
      }
    }
  }

  .submit-video-attachments {

    .alert {
      font-size: 0.875rem;
    }

    .submit-video-attachments-list {
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
      overflow-x: auto;

      .attachment-item {
        min-width: 12rem;
        max-width: 12rem;
        height: 9rem;
        border-radius: 1rem;
        border: 1px solid var(--border-color);
        background-size: cover;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0.5rem;

        .type {
          position: absolute;
          background-color: $dark-sky-blue;
          color: $white;
          rotate: -45deg;
          padding: 0.125rem;
          text-align: center;
          width: 100px;
          top: 0.75rem;
          left: -1.75rem;
          font-size: 0.675rem;
          text-transform: uppercase;
        }

        .title {
          padding: 0.5rem;
          background-color: $white;
          border-radius: 0.75rem;
          border: 1px solid var(--border-color);
        }

        .remove {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @include button-variant(rgba($primary, 0.35), rgba($primary, 0.35));
          @include padding(0.5rem);
          @include border-radius(0.75rem);

          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }
}

.selection-item {
  width: 100px;
  height: 100px;
  background-color: $light-periwinkle;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid $light-periwinkle;
  border-radius: 1.25rem;
  cursor: pointer;
}

.selected {
  border: 5px solid $dark-sky-blue;
  background-color: $dark-sky-blue;
}

.selection-container {
  max-height: 300px;
  overflow-y: auto;
  @media (max-width: $sm-break) {
    justify-content: center;
    padding: 0;
  }

  .check {
    font-size: 14px;
    top: 9px;
    right: 25px;

    svg {
      width: 25px;
    }
  }
}
