.votes-dialog-content {
  min-height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .reward-cell {
    width: 120px;
  }

  .voter-cell {
    .account {
      display: flex;
      align-items: center;

      .user-avatar {
        margin-right: 6px;
      }
    }
  }
}

.votes-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .page-numbers {
    margin: 0 10px;

    .current-page {
      font-weight: 500;
    }
  }
}

.entry-votes {
  margin-right: 15px;
  align-items: center;
  color: $steel-grey;
  display: flex;

  @media (min-width: $sm-break) {
    margin-right: 25px;
  }

  @include themify(night) {
    font-weight: 500;
  }

  svg {
    height: 14px;
    opacity: 0.5;
    margin-right: 5px;
  }

  .inner-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.no-data {
      cursor: default;
    }
  }
}
