@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.entry-votes-modal {
  .modal-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .modal-body {
    padding-top: 0;
    padding-bottom: 10px;

    .voters-list {
      @include user-grid-list(1, 1, 2);
      margin-bottom: 20px;
      height: 440px;
      overflow: auto;

      .list-body {

        .list-item {
          .item-extra {
            display: flex;
            align-items: center;

            .separator {
              margin: 0 6px;
              width: 4px;
              height: 4px;
              border-radius: 4px;
              display: inline-flex;
              font-size: 14px;

              @include themify(day) {
                @apply bg-silver;
              ;
              }

              @include themify(night) {
                background: $metallic-blue;
              }
            }
          }
        }
      }
    }

    .list-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column-reverse;

      @media (min-width: $lg-break) {
        flex-direction: row;
      }

      .sorter {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media (min-width: $lg-break) {
          margin-bottom: 0;
        }

        .label {
          margin-right: 4px;
        }
      }
    }
  }
}

.entry-votes {
  margin-right: 15px;
  align-items: center;
  @apply text-gray-steel;
  display: flex;

  @media (min-width: $sm-break) {
    margin-right: 25px;
  }

  @include themify(night) {
    font-weight: 500;
  }

  &:hover {
    color: $dark-sky-blue;
  }

  svg {
    height: 12px;
    width: 12px;
    opacity: 0.5;
    margin-right: 5px;
    margin-top: 2px;
  }

  .inner-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: $xxsm-break) {
      font-size: 12px;
      svg {
        padding: 0 3px 0 5px;
      }
    }

    &.no-data {
      cursor: default;
    }
    .heart-icon {
      &.voted {
        svg {
          fill: $dark-sky-blue;
          color: $dark-sky-blue;
        }
      }

      &.vote-done {
        animation: heartbeat 1s ease-in-out forwards;
        svg {
          fill: $dark-sky-blue;
          color: $dark-sky-blue;
        }
      }
    }
  }
}
