.beneficiary-editor-dialog {
  .modal-body {
    padding: 0 10px 10px 10px;

    .beneficiary-list {
      max-height: 400px;
      overflow: auto;

      .table td {
        vertical-align: middle !important;
      }
    }
  }
}
