.proposal-list-item {
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: $box-shadow-alt;

  @media (min-width: $md-break) {
    display: flex;
  }

  @include themify(day) {
    color: $steel-grey;
  }

  @include themify(day) {
    background: lighten($white-three, 2);
  }

  @include themify(night) {
    background: lighten($dark-six, 4);
  }

  .left-side {
    flex-grow: 1;
    margin-bottom: 20px;

    @media (min-width: $md-break) {
      margin-bottom: 0;
    }

    .proposal-users-card {
      display: flex;
      align-items: center;
      font-size: 90%;

      .users {
        margin-left: 10px;
      }
    }

    .proposal-title {
      font-weight: 500;
      font-size: 18px;
      margin: 16px 0;

      @media (min-width: $md-break) {
        font-size: 22px;
      }

      a {
        @include themify(day) {
          color: $charcoal-grey;
        }

        @include themify(night) {
          color: $silver;
        }
      }


      .proposal-id {
        margin-left: 6px;
        opacity: 0.6;
      }
    }

    .proposal-info {
      font-size: 90%;
      margin-bottom: 16px;

      @media (min-width: $md-break) {
        display: flex;
        align-items: center;
      }

      .proposal-status {
        color: $white;
        border-radius: 12px;
        padding: 2px 4px;
        display: inline-flex;
        font-weight: 300;

        &.active {
          background-color: $green1;
        }

        &.expired {
          background-color: lighten($red, 20);
        }

        &.inactive {
          background-color: lighten($orange, 10);
        }
      }

      .proposal-duration {
        margin: 10px 0;

        @media (min-width: $md-break) {
          margin: 0 10px;
        }
      }

      .proposal-payment {
        .all-pay {
          color: $dark-sky-blue;
          font-weight: 500;
          margin-right: 4px;
        }
      }
    }

    .proposal-votes {
      .btn-votes {
        font-weight: 500;
      }
    }
  }

  .right-side {
    @media (min-width: $md-break) {
      flex-shrink: 0;
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: $lg-break) {
      width: 200px;
    }

    .return-proposal {
      text-align: center;
      color: $indigo;
    }
  }
}
