@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.entry-menu {
  display: flex;
  align-items: center;
  margin-left: 15px;
  @media (max-width: $xxsm-break) {
    font-size: 12px;
    margin-left: 5px;
  }
  .custom-dropdown {
    .dropdown-btn {
    @apply text-gray-steel-light-005;

      &:hover {
        color: $dark-sky-blue;
      }
    }
  }

  .separated-share {
    .share-button {
      @apply text-gray-steel-light-005;
      cursor: pointer;
      margin-right: 14px;

      &:hover {
        color: $dark-sky-blue;
      }

      svg {
        height: 18px;
        width: 18px;
      }

      &.share-button-facebook, &.single-button {
        svg {
          margin-top: -1px;
          height: 17px;
          width: 17px;
        }
      }
    }

    .single-button {
      @media (min-width: $sm-break) {
        display: none;
      }
    }

    .all-buttons {
      display: none;
      @media (min-width: $sm-break) {
        display: flex;
      }
    }
  }
}
