.communities-page {
  flex-direction: block;

  .community-list {
    max-width: 680px;
    width: 100%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 12px;

    @include themify(day) {
      background-color: $white-two;
    }

    @include themify(night) {
      background-color: lighten($dark-six, 4);
    }

    @media (min-width: $md-break) {
      padding: 20px;
    }

    .list-header {
      margin-bottom: 20px;

      .list-title {
        color: $dark-sky-blue;
        font-size: 26px;
        margin: 0;
      }
    }

    .list-form {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .search-box {
        max-width: 400px;
        margin-right: 60px;
        flex-grow: 1;
      }

      .sort-box {
        flex-grow: 0;
      }
    }

    .list-items {
      padding-top: 20px;
    }
  }
}
