.trending-tag-list {
  flex-grow: 0;
  margin-right: 10px;
  display: none;


  @media (min-width: $md-break) {
    width: 170px;
    display: block;
  }

  @media (min-width: $lg-break) {
    width: 220px;
  }

  .list-header {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
    height: 50px;
    display: flex;
    align-items: center;
    line-height: 100%;

    @include themify(day) {
      color: $steel-grey;
    }

    @include themify(night) {
      color: $metallic-blue;
    }
  }

  .tag-list-item {
    border-radius: 25px;
    color: $silver;
    cursor: pointer;
    display: table;
    margin-bottom: 8px;
    padding: 4px 8px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 90%;

    @media (min-width: $lg-break) {
      font-size: $font-size-base;
      padding: 4px 12px;
    }

    @include themify(day) {
      background: $white;
      border: solid 1px $white-four;
    }

    @include themify(night) {
      background: $dark-grey-blue;
      border: solid 1px $dark-two;
    }

    &.selected-item {
      color: $dark-sky-blue;
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      @include themify(day) {
        background: darken($white, 4);
      }

      @include themify(night) {
        background: darken($dark-grey-blue, 4);
      }
    }
  }
}

.page-content {
  flex-grow: 1;
  width: 100%;

  @media (min-width: $md-break) {
    width: calc(100% - 180px);
  }

  @media (min-width: $lg-break) {
    width: calc(100% - 230px);
  }

  .page-tools {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;

    @media (min-width: $md-break) {
      justify-content: space-between;
    }

    @include themify(day) {
      border-bottom: 1px solid $white-three;
    }

    @include themify(night) {
      border-bottom: 1px solid $dark-two;
    }
  }

  @media (min-width: $lg-break) {
    .entry-list {
      .entry-list-body.grid-view {
        align-content: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
}
