.loading-hive {
    width: 100%;
    height: 300px;
}

.active {
    z-index: 1;
}

tbody {
    @media (max-width: $sm-break) {
        font-size: 11px;
    }
}

thead, .pagination {
    @media (max-width: $sm-break) {
        font-size: 12px;
    }
}

.w-sm-75 {
    width: 100%;
    @media (min-width: $sm-break) {
        width: 75%;
    }
}

.mode-selector {
    max-width: 600px;

    .btn-primary {
        width: 33%;
    }
}

.market-page {
    height: 100vh;
    overflow-y: auto;

    &.SWAP {
        position: relative;

        @include themify(day) {
            background-color: $duck-egg-blue;
        }

        .list-group {
            border-radius: 1rem;
        }

        .auth-required {
            position: absolute;
            top: 0;
            left: 1rem;
            width: calc(100% - 2rem);
            height: 100%;
            border-radius: 1rem;
            padding: 1rem;
            z-index: 9;

            @include themify(day) {
                background-color: rgba(255, 255, 255, 0.7);
            }

            @include themify(night) {
                background-color: rgba(19, 17, 17, 0.7);
            }
        }
    }

    &.ADVANCED {
        .advanced-mode {
            margin-top: -2.5rem;

            @include media-breakpoint-down(sm) {
                margin-top: -2rem;
            }
        }

        .advanced-mode-toolbar {
            align-items: center;

            @include media-breakpoint-down(md) {
                flex-direction: column;
                align-items: start;
                padding-top: 0 !important;
            }

            .trading-pair {
                font-size: 1.25rem;
            }

            .amount {
                font-size: 1.4rem;
                font-weight: 500;
            }

            .usd-value {
                font-weight: 500;
            }

            .change-price {
                label {
                    font-size: 0.875rem;
                    font-weight: 500;
                    opacity: 0.75;
                    color: $secondary;
                }

                div {
                    font-weight: 500;
                }
            }

            .pair-info {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                @include media-breakpoint-down(sm) {
                    border-left: 0 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    gap: 0.5rem;

                    .change-price label, & {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .history-widget-content {
            padding-top: 0.5rem;
            padding-left: 0.69rem;
            height: calc(100% - 31px - 45px);
            min-height: 400px;

            .history-widget-row {
                cursor: pointer;
                padding: 0.15rem 0;
                display: grid;
                gap: 1rem;
                font-size: 0.75rem;
                font-weight: 500;
                grid-template-columns: 1fr 1fr 1fr;

                &.selectable:hover {
                    opacity: 0.5;
                }

                &.history-widget-header {
                    padding: 0.5rem 0;
                    font-weight: 400;
                    font-size: 0.75rem;
                }
            }
        }

        .market-stake-widget-sell, .market-stake-widget-buy {
            overflow-y: auto;

            .history-widget-row {
                position: relative;

                .history-widget-row-progress {
                    position: absolute;
                    width: 100%;
                    opacity: 0.15;
                    height: 19.2px;
                }

                &.sell .history-widget-row-progress {
                    right: 0;
                    background-color: $danger;
                }

                &.buy .history-widget-row-progress {
                    right: 0;
                    background-color: $success;
                }

                &.selectable:hover {
                    opacity: 1;
                }

                &.selectable > .price:hover, &.selectable > .amount:hover {
                    opacity: .5;
                }
            }
        }

        .stake-widget-header-options {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 8px;

            .stake-widget-header-view-type {
                display: flex;
            }

            .btn {
                padding: 0 4px;
                opacity: .5;

                &.active {
                    opacity: 1;
                }
            }

            select {
                width: auto;
            }
        }

        .market-advanced-mode-widget {
            .custom-dropdown .label {
                font-size: 14px;
            }
        }

        .market-advanced-mode-widget-settings {
            background-color: $white-three;
        }

        .market-advanced-mode-trading-form-widget {
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }

            @include media-breakpoint-down(md) {
                flex-direction: row;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        .market-advanced-mode-trading-form-login-required-widget {
            height: 334px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .market-advanced-mode-trading-view-widget {
            min-height: 500px;
        }

        .widget-layout-builder {
            display: grid;
            grid-template-areas:
                    "stake tv history"
                    "stake tf history"
                    "oo oo oo";
            grid-template-columns: 1fr 3fr 1fr;

            @include media-breakpoint-down(md) {
                grid-template-columns: 1fr;
                grid-template-areas:
                        "stake"
                        "tv"
                        "history"
                        "tf"
                        "oo";
            }

            .market-advanced-mode-history-widget {
                grid-area: history;

                @include media-breakpoint-down(md) {
                    .history-widget-content {
                        margin-bottom: 40px;
                    }
                }
            }

            .market-advanced-mode-stake-widget {
                grid-area: stake;
            }

            .market-advanced-mode-tf-widget {
                grid-area: tf;
            }

            .market-advanced-mode-tv-widget {
                grid-area: tv;
                width: 100%;
                height: 100%;
            }

            .market-advanced-mode-oo-widget {
                grid-area: oo;
            }
        }
    }
}
