.loading-hive {
    width: 100%;
    height: 300px;
}

.active {
    z-index: 1;
}

tbody {
    @media (max-width: $sm-break) {
        font-size: 11px;
    }
}

thead, .pagination {
    @media (max-width: $sm-break) {
        font-size: 12px;
    }
}

.w-sm-75 {
    width: 100%;
    @media (min-width: $sm-break) {
        width: 75%;
    }
}

.mode-selector {
    max-width: 600px;

    .btn-primary {
        width: 33%;
    }
}

.market-page {
    height: 100vh;
    overflow-y: auto;

    &.SWAP {
        position: relative;

        @include themify(day) {
            background-color: $duck-egg-blue;
        }

        .list-group {
            border-radius: 1rem;
        }

        .auth-required {
            position: absolute;
            top: 0;
            left: 1rem;
            width: calc(100% - 2rem);
            height: 100%;
            border-radius: 1rem;
            padding: 1rem;
            z-index: 9;

            @include themify(day) {
                background-color: rgba(255, 255, 255, 0.7);
            }

            @include themify(night) {
                background-color: rgba(19, 17, 17, 0.7);
            }
        }
    }

    &.ADVANCED {
        .advanced-mode-layout {
            display: grid;
        }
    }
}
