.search-page {
  display: block;

  @media (min-width: $md-break) {
    display: flex;
    margin-bottom: 0;
    flex-direction: row;
    height: calc(100% - 104px) !important;

    .row {
      flex-grow: 1;

      .col-section-holder {
        display: flex;
        height: 100%;

        .row-side {
          height: 100%;
          flex-direction: row;
          display: flex;
          justify-content: space-between;

          .col-section {
            display: flex;
            height: 33.3%;

            &:not(:first-child) {
              padding-top: 20px;
            }
          }
        }
      }
    }

    .col-section-holder, .col-section {
      .card {
        flex-grow: 1;
        display: flex;

        .card-body {
          overflow: auto;
        }
      }
    }
  }
}

/*
.search-page {
  display: block;

  .search-info {
    text-align: center;
    padding-bottom: 6px;
    margin-bottom: 6px;

    .result-count {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .sort-by {
      width: 160px;
      margin: auto;

      .label {
        margin-bottom: 4px;
        font-size: 90%;
      }
    }
  }

  .search-list {

  }
}
*/
