.sign-up-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media (max-width: $md-break) {
    flex-direction: column;
    align-items: center;
  }

  .success-wrapper{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    .success-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: max-content;
        background-color: #161d26;
        // background-color: $dark-three;
        padding: 2rem;
        border-radius: 1rem;
        color: $steel-grey;
        word-break: break-all;
  
        .account-details{
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
        }
  
        .account-password{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
  
          .password{
            display: flex;
            align-items: center;
            gap: 3px;
  
            .icon{
              cursor: pointer;
            }
          }
        }
  
        .account-link{
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .link{
            display: flex;
            align-items: center;
            gap: 3px;
  
            .icon{
              cursor: pointer;
            }
          }
        }
        
        }
  }

      @media (max-width: $md-break) {
        margin-bottom: 2rem;
      }
    }

  .sign-up {
    width: 100%;
    display: flex;

    @media (min-width: $xl-break) {
      display: flex;
      margin-top: 35px;
    }

    

    .left-image {
      display: none;

      @media (min-width: $xl-break) {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 100%
        }
      }
    }

    .the-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;

        @media (min-width: $xl-break) {
          font-size: 32px;
        }
      }

      .form-sub-title {
        opacity: 0.7;
        text-align: center;
      }

      .form-image {
        margin-bottom: 6px;
        text-align: center;

        @media (min-width: $xl-break) {
          display: none;
        }

        img {
          width: 90%;
          max-width: 400px;
        }
      }

      .form-done {
        margin: 20px auto;
        text-align: center;
        background: lighten($dark-sky-blue, 36);
        border-radius: 25px;
        padding: 12px;
        max-width: 420px;

        .done-icon {
          width: 40px;
          height: 40px;
          margin: 0 auto 20px auto;
          background: $dark-sky-blue;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 24px;
          }
        }

        .done-text {
          color: $dark-sky-blue;
        }
      }

      .form-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
        
        form {
          gap: 20px;
        }

        .form-do-login, .form-bottom-description, .form-faq {
          opacity: 0.7;
          text-align: center;
          margin-bottom: 22px;
        }

        .form-bottom-description {
          margin-bottom: 0px;
          margin-top: 16px;
          line-height: 22px;
        }
      }
  }
}

.wrapper{
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  
  .account-types{
    flex: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .account-type{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 1px solid rgb(69, 63, 109);
        width: 400px;
        padding: 10px;
        cursor: pointer;

        span{
          font-size: 18px;
          font-weight: bold;
        }
      }
  }

  .account-sign-up{
    display: flex;
    flex: 1;
  }
}

.link-wrap{
  // background-color: red;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}