.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $md-break) {
    flex-direction: column;
    align-items: center;
  }

  .success-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: max-content;
      background-color: #161d26;
      // background-color: $dark-three;
      padding: 2rem;
      border-radius: 1rem;
      color: $steel-grey;
      word-break: break-all;

      .account-details{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
      }

      .account-password{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .password{
          display: flex;
          align-items: center;
          gap: 3px;

          .icon{
            cursor: pointer;
          }
        }
      }

      .account-link{
        display: flex;
        flex-direction: column;
        align-items: center;

        .link{
          display: flex;
          align-items: center;
          gap: 3px;

          .icon{
            cursor: pointer;
          }
        }
      }
      
      }

      @media (max-width: $md-break) {
        margin-bottom: 2rem;
      }
    }

  .sign-up {
    max-width: 1400px;
    width: 100%;
    margin: auto;

    @media (min-width: $xl-break) {
      display: flex;
      margin-top: 35px;
    }

    

    .left-image {
      display: none;

      @media (min-width: $xl-break) {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 100%
        }
      }
    }

    .the-form {
      margin: 0 auto;
      @media (min-width: $xl-break) {
        width: 50%;
      }

      .form-title {
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;

        @media (min-width: $xl-break) {
          font-size: 32px;
        }
      }

      .form-sub-title {
        opacity: 0.7;
        text-align: center;
      }

      .form-icons {
        text-align: center;
        margin: 22px 0 12px 16px;

        @media (min-width: $xl-break) {
          margin: 56px 0;
        }

        img, svg {
          height: 44px;
        }

        img {
          margin-right: 60px;
        }

        svg {
          color: #D2323E;
        }
      }

      .form-image {
        margin-bottom: 6px;
        text-align: center;

        @media (min-width: $xl-break) {
          display: none;
        }

        img {
          width: 90%;
          max-width: 400px;
        }
      }

      .form-done {
        margin: 20px auto;
        text-align: center;
        background: lighten($dark-sky-blue, 36);
        border-radius: 25px;
        padding: 12px;
        max-width: 420px;

        .done-icon {
          width: 40px;
          height: 40px;
          margin: 0 auto 20px auto;
          background: $dark-sky-blue;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 24px;
          }
        }

        .done-text {
          color: $dark-sky-blue;
        }
      }

      .form-content {
        max-width: 460px;
        margin: auto;

        form {
          margin-bottom: 26px;
        }

        .form-do-login, .form-bottom-description, .form-faq {
          opacity: 0.7;
          text-align: center;
          margin-bottom: 22px;
        }

        .form-bottom-description {
          margin-bottom: 0px;
          margin-top: 16px;
          line-height: 22px;
        }
      }
  }
}
