.submit-page {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  // bottom margin height  - navbar
  height: calc(100% - 330px);
  @media (min-width: $md-break) {
    height: calc(100% - 104px) !important;
  }

  @media (min-width: $lg-break) {
    flex-direction: row;
  }

  .editor-side,
  .preview-side {
    border-radius: $input-border-radius / 2;
    flex-basis: 49%;
    overflow: hidden;

    @include themify(day) {
      background: $white-two;
    }

    @include themify(night) {
      background: lighten($dark-six, 4);
    }
  }

  .editor-side {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title-input,
    .body-input,
    .tag-input {
      margin-top: 10px;

      .form-control {
        border-radius: 8px;
        background: transparent;
        border: none;

        @include themify(night) {
          color: $silver;
        }
      }
    }

    .title-input {
      .form-control {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .body-input {
      flex-grow: 1;

      textarea {
        resize: none;
        height: 100%;
        line-height: 1.5;
      }
    }
  }

  .preview-side {
    height: 100%;
    margin-bottom: 4px;

    @media (min-width: $lg-break) {
      margin-bottom: 0;
    }
  }
}
