@import "../../style/vars_mixins";

.discover-page {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $lg-break) {
    flex-direction: row;
    height: calc(100% - 104px) !important;
  }

  .top-users,
  .curation-users,
  .popular-users {
    padding: 0 10px;
    height: 460px;
    border-radius: 6px;
    margin-bottom: 20px;

    @media (min-width: $lg-break) {
      height: 100%;
      margin-bottom: 0;
    }
  }

  .top-users {
    flex-basis: 440px;
    flex-shrink: 0;

    @include themify(day) {
      @apply bg-blue-dark-sky-040;
    }

    @include themify(night) {
      background: $dark;
    }
  }

  .curation-users {
    flex-basis: 440px;
    flex-shrink: 0;

    @include themify(day) {
      @apply bg-blue-dark-sky-040;
    }

    @include themify(night) {
      background: $dark;
    }
    @media (min-width: $lg-break) {
      margin-left: 10px;
    }
  }

  .popular-users {
    flex-grow: 1;

    @media (min-width: $lg-break) {
      margin-left: 10px;
    }
  }
}
