@import "../../style/vars_mixins";

.onboard-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;;
    margin-top: 70px;
    // height: 100vh;
    width: 50%;
    border-radius: 10px;

    @include themify(day) {
        background: lighten($steel-grey, 40);
      }
    
      @include themify(night) {
        background: $dark-grey-blue;
      }

      .asking{
        display: flex;
        flex-direction: column;;

        .reg-details{
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
      }
      
      .onboard-svg{
        cursor: pointer;
      }
}
