@import "src/style/variables";

.profile-page {
  flex-direction: column;

  @media (min-width: $md-break) {
    flex-direction: row;
  }

  .profile-side {
    @media (min-width: $md-break) {
      width: 198px;
      margin-right: 30px;
      flex-shrink: 0;
    }

    @media (min-width: $lg-break) {
      width: 200px;
    }
  }

  .content-side {
    flex-grow: 1;
    padding-bottom: 60px;

    @media (min-width: $lg-break) {
      .entry-list {
        .entry-list-body.grid-view {
          align-content: stretch;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
      }
    }
  }
}
