@import "../../style/vars_mixins";

.proposals-page {
  flex-direction: column;
  max-width: 1200px;
  margin: auto;

  .mt-5 {
    margin-top: 4rem !important;
  }

  .page-header {
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    .header-title {
      @apply text-blue-dark-sky;
      font-size: 26px;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    .header-description {
      margin: 16px 0 0 0;
      opacity: 0.7;
      text-align: center;
    }

    .see-all {
      margin: 16px 0 0 0;
      text-align: center;
      font-size: 90%;
    }

    .funding-numbers {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (min-width: $sm-break) {
        flex-direction: row;
      }

      .funding-number {
        font-size: 90%;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        @media (min-width: $sm-break) {
          margin-bottom: 0 !important;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        .value {
          @apply bg-blue-dark-sky;
          @apply text-white;
          padding: 6px;
          border-radius: 12px;
          font-weight: 500;
          margin-bottom: 6px;
        }

        .label {
          text-align: center;
          opacity: 0.8;
        }
      }
    }

    .filter-menu {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .menu-item {
        @apply text-silver-010;
        font-weight: 500;

        @media (min-width: $sm-break) {
          font-size: 18px;
        }

        &.active-item {
          @apply text-blue-dark-sky;
          border-bottom: 2px solid;
          @apply border-blue-dark-sky;
        }

        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }

  .proposal-list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include themify(night) {
      @apply bg-dark-600;
    }

    .proposal-list-header {
      font-size: 16px;
      font-weight: 700;
      padding: 16px 0;

      @include themify(day) {
        @apply text-gray-steel;
      }
    }
  }

  .the-entry {
    margin: 0 auto 90px auto;
    width: 100%;
    padding: 0 10px;

    @media (min-width: $md-break) {
      padding: 0;
      max-width: 750px;
    }

    @media (min-width: $xxxl-break) {
      max-width: 800px;
    }

    .entry-body {
      @include clearfix();
      font-size: 1.2rem;
    }
  }

  &.proposals-detail-page {
    .proposal-list {
      position: relative;

      .btn-dismiss {
        position: absolute;
        right: 0;
        top: -13px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        @apply bg-blue-metallic;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow-alt;
        @apply text-white;

        svg {
          height: 14px;
        }
      }
    }
  }

}


.search-proposals {
  width: 60%;
  margin: 30px auto;
}