@import "../../style/vars_mixins";

.search-page {
  display: block;

  @media (min-width: $lg-break) {
    display: flex;

    .search-main {
      flex-grow: 1;
    }

    .search-side {
      width: 300px;
      margin-left: 20px;
      flex-grow: 0;
      flex-shrink: 0;

      @media (min-width: $xl-break) {
        width: 380px;
      }
    }
  }
}

.search-more-page {
  display: block;
}
