.bookmark-btn {
  cursor: pointer;
  color: lighten($steel-grey, 4);
  margin-right: 14px;

  @media (min-width: $sm-break) {
    margin-top: 3px;
  }

  svg {
    height: 20px;
  }

  &.bookmarked {
    color: $dark-sky-blue;
  }

  &.in-progress {
    pointer-events: none;
  }
}
