.entry-list-item {
  @include entry-list-item;

  .cross-item {
    font-size: 84%;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 10px;

    @include themify(day) {
      background: lighten($dark-sky-blue, 42);
      color: $charcoal-grey;
    }

    @include themify(night) {
      background: $dark-grey-blue;
    }

    .cross-item-link {
      display: none;
      @media (min-width: $sm-break) {
        display: inline-block;
      }
    }
  }
}

.grid-view {
  .entry-list-item {
    @media (min-width: $sm-break) {
      .item-body {
        .item-image {
          float: none;
          height: 450px;
          border-radius: 4px;
          margin: 0 0 10px 0;
          width: 100%;

          a {
            display: block;
            width: 100%;

            img {
              width: 100%;
            }
          }

          @media (min-width: $xxxl-break) {
            height: 240px;
          }
        }

        .item-summary {
          float: none;
          width: 100%;
        }

        .item-controls {
          float: none;
          width: 100%;
        }
      }
    }
  }


  &:not(.limited-area) {
    .entry-list-item {
      @media (min-width: $xl-break) {
        margin-right: 2%;
        padding-right: 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (min-width: $xxxl-break) {
        margin-right: 1%;
        width: 32.6%;

        &:nth-child(2n) {
          margin-right: 1%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  &.limited-area {
    .entry-list-item {
      @media (min-width: $xxl-break) {
        margin-right: 2%;
        padding-right: 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 45px;
    @media (max-width: $sm-break) {
      width: 90px;
    }
  }

  @media (max-width: $sm-break) {
    min-height: 220px;
  }
}
