.entry-list-item {
  @include entry-list-item;

  .cross-item {
    font-size: 84%;
    display: grid;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
    align-items: center;
    grid-template-columns: 20px 1fr;

    @include themify(day) {
      background: lighten($dark-sky-blue, 42);
      color: $charcoal-grey;
    }

    @include themify(night) {
      background: $dark-grey-blue;
    }

    .cross-item-icon {
      display: flex;
      align-items: center;

      @include themify(day) {
        color: $pinkish-grey;
      }

      @include themify(night) {
        color: $dark-indigo;
      }

      svg {
        height: 14px;
      }
    }

    .cross-item-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .cross-item-author {
        margin-right: 2px;

        @include themify(day) {
          color: $steel-grey;
        }

        @include themify(night) {
          color: $light-periwinkle;
        }
      }

      .cross-item-link {
        margin-left: 2px;
      }
    }
  }
}

.grid-view {
  .entry-list-item {
    @media (min-width: $sm-break) {
      .item-body {
        .item-image {
          float: none;
          height: 300px;
          margin: 0 0 10px 0;
          width: 100%;

          a {
            display: block;
            width: 100%;

            img {
              width: 100%;
            }
          }

          @media (min-width: $xxxl-break) {
            height: 240px;
          }
        }

        .item-summary {
          float: none;
          width: 100%;
        }

        .item-controls {
          float: none;
          width: 100%;
        }
      }
    }
  }


  &:not(.limited-area) {
    .entry-list-item {
      @media (min-width: $xl-break) {
        margin-right: 2%;
        padding-right: 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (min-width: $xxxl-break) {
        margin-right: 1%;
        width: 32.6%;

        &:nth-child(2n) {
          margin-right: 1%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  &.limited-area {
    .entry-list-item {
      @media (min-width: $xxl-break) {
        margin-right: 2%;
        padding-right: 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}
