.entry-list-item {
  @include entry-list-item;
}

.grid-view {
  @media (min-width: $sm-break) {
    .entry-list-item {
      @media (min-width: $xl-break) {
        margin-right: 2%;
        padding-right: 0;
        width: 49%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      &:not(.with-community) {
        @media (min-width: $xxxl-break) {
          margin-right: 1%;
          width: 32.6%;

          &:nth-child(2n) {
            margin-right: 1%;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      .item-body {
        .item-image {
          float: none;
          height: 300px;
          margin: 0 0 10px 0;
          width: 100%;

          @media (min-width: $xxxl-break) {
            height: 240px;
          }
        }

        .item-summary {
          float: none;
          width: 100%;
        }

        .item-controls {
          float: none;
          width: 100%;
        }
      }
    }
  }
}
