@import "src/style/vars_mixins";

.account-recovery-form {
  .error-info {
    @apply text-red-020;
    font-size: 80%;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
  }

  .suggestion-info {
    color: #ffc107;
    display: block;
    margin-bottom: 8px;
  }

  .update-btn{
    margin-top: 6px;
  }
}

.recovery-confirm-dialog {
  .recovery-confirm-dialog-header {
    border-bottom: 1px solid;
    @apply border-light-400;
    align-items: center;
    display: flex;
  }
  .recovery-confirm-dialog-body {
    padding: 24px 32px;
    margin: 1px 0 0 0;

    .confirmation {
      margin-bottom: 30px;

      .users {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .from-user,
        .to-user,
        .arrow {
          height: 100px;
          width: 100px;
        }

        .from-user,
        .to-user {
          cursor: pointer;

          .user-avatar {
            height: 100%;
            width: 100%;
          }
        }

        .arrow {
          align-items: center;
          @apply text-silver;
          display: flex;
          justify-content: center;
          opacity: 0.4;

          svg {
            height: 60px;
            width: 60px;
          }
        }
      }
    }
  }
}

.recovery-sign-dialog-header {
  display: flex;
  .recovery-sign-dialog-titles {
    margin-top: 9px;
  }
}

.recovery-main-title {
  font-weight: bold;
}

.recovery-success-dialog-header {
  display: flex;
  .recovery-success-dialog-titles {
    padding-top: 8px;
  }
}

.recovery-success-dialog-body {
  margin: 2rem 0 1.4rem 0;
  .recovery-success-dialog-content {
    text-align: center;
    margin-bottom: 1.4rem;
  }
}