.dialog-content {
  .error-info {
    color: $red2 ;
    font-size: 80%;
    font-weight: 400

  }
}

.recovery-dialog-content {
  .recovery-change-form-header {
    border-bottom: 1px solid #e7e7e7;
    align-items: center;
    display: flex;
  }

  .recovery-change-form-body {
    padding: 24px 32px;
    margin: 1px 0 0 0;
  }
  .confirmation {
    margin-bottom: 30px;

    .users {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      .from-user,
      .to-user,
      .arrow {
        height: 100px;
        width: 100px;
      }

      .from-user,
      .to-user {
        cursor: pointer;

        .user-avatar {
          height: 100%;
          width: 100%;
        }
      }

      .arrow {
        align-items: center;
        color: $silver;
        display: flex;
        justify-content: center;
        opacity: 0.4;

        svg {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}

