@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.chatbox-container {
  position: fixed;
  z-index: 99;
  right: 15rem;
  bottom: 0rem;
  height: 53px;
  width: 410px;

  border-top-right-radius: 16px;
  border-top-left-radius: 16px;

  transition: height 0.5s ease;

  @include themify(day) {
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background: $white;
  }

  @include themify(night) {
    background: $dark;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  }

  &.expanded {
    height: 530px;
  }

  .chat-header {
    border-bottom: 1px solid $white-four;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    height: 53px;
    display: flex;
    justify-content: space-between;
    @include themify(day) {
      border-bottom: 1px solid $white-four;
    }

    @include themify(night) {
      border-bottom: 1px solid $dark-indigo;
    }

    .back-arrow-image {
      justify-content: center;
      display: flex;
      align-items: center;
      .back-arrow-svg {
        border-radius: 50%;
        padding: 6px;
      }
    }

    .back-arrow-svg:hover {
      background: rgba(29, 155, 240, 0.1);
    }
    .message-header-title {
      display: flex;
      width: 288px;
      margin-left: 0.6rem;
      .user-icon {
        margin: 14px 11px 0 0;
      }
    }

    .message-header-content {
      margin-top: 0.8rem;
      font-weight: 700;
      line-height: 24px;
      font-size: 21px;
      font-family: $font-family-sans-serif;

      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include themify(day) {
        color: $charcoal-grey;
      }

      @include themify(night) {
        color: $white-two;
      }
    }

    .actionable-imgs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.1rem;
      .message-image {
        margin-top: 2px;

        .message-svg {
          width: 40px;
          height: 40px;
          justify-content: center;
          text-align: center;
          border-radius: 50%;
          padding-top: 11px;
          display: flex;

          svg {
            height: 20px;
            width: 20px;
          }
        }
        .message-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
      .arrow-image {
        margin: 1.5 0.3rem 0 0;
        .arrow-svg {
          display: flex;
          justify-content: center;
          text-align: center;
          padding-top: 6px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .arrow-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
      .community-menu {
        margin-bottom: 12px;
        svg {
          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $white-two;
          }
        }
      }
    }
  }

  .chat-body {
    position: relative;
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;

    .community-header,
    .dm-header {
      padding: 10px;
      border-bottom: 1px solid #e7e7e7;
      padding-left: 14px;
      font-family: Faktum, sans-serif;
      font-weight: 700;
      // background: #e4e6eb;
    }

    &.current-user {
      padding-bottom: 10px;
      height: 412px;
      margin-bottom: 8px;
      @include themify(day) {
        border-bottom: 1px solid $white-three;
      }
      @include themify(night) {
        border-bottom: 1px solid #172b44;
      }
    }

    &.community {
      padding-bottom: 10px;
      height: 412px;
      margin-bottom: 8px;
      @include themify(day) {
        border-bottom: 1px solid $white-three;
      }
      @include themify(night) {
        border-bottom: 1px solid #172b44;
      }
    }

    &.no-scroll {
      overflow: hidden;
    }

    &.join-chat {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .no-chat {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
    }
    .start-chat-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user-search-bar {
      margin: 12px;
    }
    .user-search-suggestion-list {
      .search-content {
        padding: 0.7rem;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        margin-bottom: 1rem;

        .search-user-img {
          justify-content: center;
          align-items: center;
          display: flex;
          margin-left: 10px;
        }

        .search-user-title {
          margin-left: 1rem;
          .search-username {
            margin-top: 7px;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
          }
        }
        &:hover {
          @include themify(day) {
            background: $white-four;
          }
          @include themify(night) {
            background: $charcoal-grey;
          }
        }
      }
    }

    .chat-content {
      display: flex;
      cursor: pointer;
      border-bottom: 0.5px solid rgba(134, 150, 160, 0.15);

      .user-img {
        padding: 13px 16px;
      }
      .user-title {
        padding-top: 13px;
        width: -webkit-fill-available;

        .username {
          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $white-two;
          }

          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0.2rem !important;
        }
        .last-message {
          max-width: 320px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }

    .chat-content:hover {
      @include themify(day) {
        background: #eeeeee;
      }
      @include themify(night) {
        background: $gunmetal;
      }
    }
    .user-profile {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      min-height: 266px;

      @include themify(day) {
        background: $white-three;
      }
      @include themify(night) {
        background: #172b44;
      }

      padding: 0 16px 16px 16px;
      margin: 0 16px 16px 16px;

      .user-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        cursor: pointer;
      }
      .user-name {
        font-size: 20px;
        font-weight: 700;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .about {
        text-align: center;
        padding: 4px 0;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .joining-info {
        justify-content: space-evenly;
      }
      .created-date {
        padding-top: 8px;
        font-size: 14px;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .followers {
        font-size: 14px;
        padding-top: 4px !important;
        font-family: New Century Schoolbook;
      }
    }

    .user-profile:hover {
      @include themify(day) {
        background: $white-four;
      }
      @include themify(night) {
        background: #0f223a;
      }
    }

    .scroller {
      position: sticky;
      margin-left: 89%;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include themify(day) {
        background: #e4e6eb;
        border: 1px solid $white-five;
      }
      @include themify(night) {
        background: #0f223a;
      }

      svg {
        @include themify(day) {
          color: $dark-sky-blue;
        }
        @include themify(night) {
          color: $white;
        }

        width: 20px;
        height: 20px;
      }
    }

    .chats {
      .not-joined {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 14%;
      }
      .custom-divider {
        margin: 12px 24px 0px 24px;
        font-size: 0.7em;
        color: $dark;
        .custom-divider-text {
          display: flex;
          justify-content: center;
          padding: 0 8px;
        }
      }
      .message {
        display: flex;
        .user-img {
          padding: 18px 8px 8px 16px;
        }
        .community-user-img {
          padding: 8px 8px 8px 16px;
          .user-avatar.medium {
            cursor: pointer;
          }
        }
        .user-info {
          padding-top: 8px;
          .user-msg-time {
            margin: 0;
            color: rgb(138, 141, 145);
            font-weight: 400;
            font-size: 12px;
            margin-left: 9px;
            margin-bottom: 2px;
            .username-community {
              margin-right: 8px;
            }
          }
          .receiver-message-content {
            @include themify(day) {
              background: #e4e6eb;
            }
            @include themify(night) {
              background: #cee2ff;
            }

            &.gif {
              background: none;
              img {
                max-width: 100%;
              }
            }

            &.chat-image {
              background: none;
              img {
                max-width: 100%;
              }
            }
            color: #050505;
            max-width: 280px;
            word-wrap: break-word;
            padding: 10px;
            border-radius: 0px 10px 10px;
          }
        }
      }
      .sender {
        margin-bottom: 0.17rem;
        .sender-message-time {
          color: rgb(138, 141, 145);
          display: flex;
          font-weight: 400;
          justify-content: flex-end;
          font-size: 12px;
          margin: 0;
          margin-right: 18px;
          margin-bottom: 2px;
        }
        .sender-message {
          max-width: 280px;
          margin-left: auto;

          display: flex;
          justify-content: flex-end;
          margin-right: 15px;

          .sender-message-content {
            border-radius: 10px 10px 0px;
            max-width: 280px;
            word-wrap: break-word;
            margin-bottom: 0;
            color: $charcoal-grey;
            font-size: 16px;
            font-weight: 400;
            padding: 8px 12px 8px 12px;
            a {
              text-decoration: underline;
              color: white;
            }
            @include themify(day) {
              background-color: rgb(0, 132, 255);
              color: $white;
            }
            @include themify(night) {
              background: $dark-indigo;
              color: $white;
            }
            &.gif {
              background: none;
              img {
                max-width: 100%;
              }
            }

            &.chat-image {
              background: none;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .chat {
    display: flex;
    margin: 4px 8px;
    padding: 4px;
    min-height: 45px;
    border-radius: 20px;
    @include themify(day) {
      background: #e4e6eb;
    }
    @include themify(night) {
      background: #cee2ff;
    }

    .chatbox-emoji-picker {
      .chatbox-emoji {
        .emoji-picker {
          display: none;
        }
        margin: 8px 0 0 7px;
        cursor: pointer;

        svg {
          height: 22px;
          fill: rgb(60, 68, 73);
        }
      }
      &:hover {
        .chatbox-emoji {
          .emoji-picker {
            display: block;
          }
        }
      }
    }
    .chatbox-image {
      cursor: pointer;
      .chatbox-image-icon {
        margin: 7px 0 0 7px;
      }
    }

    .chat-input-group {
      .chat-input {
        padding-top: 10px;
        border: none;
        @include themify(day) {
          background: #e4e6eb;
        }
        @include themify(night) {
          background: #cee2ff;
        }
      }
      .msg-svg {
        padding: 8px;

        &.active {
          cursor: pointer;
        }
        &.active:hover {
          background: rgba(29, 155, 240, 0.1);
          border-radius: 50%;
        }
      }
    }
  }
}

.chats-dialog {
  .chat-modals-body {
    padding: 2rem;

    .leave-dialog-body {
      font-size: 18px;
      margin-top: 12px;
    }
    .leave-confirm-buttons {
      text-align: right !important;
      .close-btn,
      .confirm-btn {
        margin-right: 20px;
      }
    }
  }
}

.profile-box {
  padding: 15px;

  .user-avatar.large {
    margin-left: 73px;
    margin-bottom: 20px;
  }
  .profile-name {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
  }
}
