@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.chatbox-container {
  position: fixed;
  z-index: 99;
  right: 15rem;
  bottom: 0rem;
  height: 53px;
  width: 400px;

  border-top-right-radius: 16px;
  border-top-left-radius: 16px;

  transition: height 0.5s ease;

  @include themify(day) {
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background: $white;
  }

  @include themify(night) {
    background: $dark;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  }

  &.expanded {
    height: 530px;
  }

  .chat-header {
    border-bottom: 1px solid $white-four;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    height: 53px;
    display: flex;
    justify-content: space-between;
    @include themify(day) {
      border-bottom: 1px solid $white-four;
    }

    @include themify(night) {
      border-bottom: 1px solid $dark-indigo;
    }

    .back-arrow-image {
      justify-content: center;
      display: flex;
      align-items: center;
      .back-arrow-svg {
        border-radius: 50%;
        padding: 6px;
      }
    }

    .back-arrow-svg:hover {
      background: rgba(29, 155, 240, 0.1);
    }
    .message-title {
      display: flex;
      width: 288px;
      margin-left: 0.8rem;
      .user-icon {
        margin: 14px 11px 0 0;
      }
    }

    .message-content {
      margin-top: 0.8rem;
      font-weight: 700;
      line-height: 24px;
      font-size: 20px;
      font-family: $font-family-sans-serif;

      @include themify(day) {
        color: $charcoal-grey;
      }

      @include themify(night) {
        color: $white-two;
      }
    }

    .actionable-imgs {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.1rem;
      .message-image {
        margin: 0.2rem 0.3rem 0 0;

        .message-svg {
          width: 40px;
          height: 40px;
          justify-content: center;
          text-align: center;
          border-radius: 50%;
          padding-top: 11px;
          display: flex;

          svg {
            height: 20px;
            width: 20px;
          }
        }
        .message-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
      .arrow-image {
        margin: 1.5 0.3rem 0 0;
        .arrow-svg {
          display: flex;
          justify-content: center;
          text-align: center;
          padding-top: 6px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .arrow-svg:hover {
          background: rgba(29, 155, 240, 0.1);
        }
      }
    }
  }

  .chat-body {
    position: relative;
    height: 470px;
    overflow-y: auto;

    &.current-user {
      padding-bottom: 10px;
      height: 412px;
      margin-bottom: 8px;
      @include themify(day) {
        border-bottom: 1px solid $white-three;
      }
      @include themify(night) {
        border-bottom: 1px solid #172b44;
      }
    }

    &.join-chat {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .no-chat {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
    }
    .start-chat-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chat-content {
      display: flex;
      cursor: pointer;
      border-bottom: 0.5px solid rgba(134, 150, 160, 0.15);

      .user-img {
        padding: 18px 16px;
      }
      .user-title {
        padding-top: 26px;
        width: -webkit-fill-available;

        .username {
          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $white-two;
          }

          font-size: 16px;

          font-weight: 700;
          margin-bottom: 0.2rem !important;
        }
        .last-message {
          font-size: 15px;
          margin-bottom: 0 !important;
        }
      }
    }

    .chat-content:hover {
      @include themify(day) {
        background: #eeeeee;
      }
      @include themify(night) {
        background: $gunmetal;
      }
    }
    .user-profile {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      min-height: 266px;

      @include themify(day) {
        background: $white-three;
      }
      @include themify(night) {
        background: #172b44;
      }

      padding: 0 16px 16px 16px;
      margin: 0 16px 16px 16px;

      .user-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        cursor: pointer;
      }
      .user-name {
        font-size: 20px;
        font-weight: 700;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .about {
        text-align: center;
        padding: 4px 0;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .joining-info {
        justify-content: space-evenly;
      }
      .created-date {
        padding-top: 8px;
        font-size: 14px;
        @include themify(day) {
          color: $charcoal-grey;
        }
        @include themify(night) {
          color: $white;
        }
      }
      .followers {
        font-size: 14px;
        padding-top: 4px !important;
        font-family: New Century Schoolbook;
      }
    }

    .user-profile:hover {
      @include themify(day) {
        background: $white-four;
      }
      @include themify(night) {
        background: #0f223a;
      }
    }

    .scroller {
      position: sticky;
      margin-left: 89%;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include themify(day) {
        background: #e4e6eb;
        border: 1px solid $white-five;
      }
      @include themify(night) {
        background: #0f223a;
      }

      svg {
        @include themify(day) {
          color: $dark-sky-blue;
        }
        @include themify(night) {
          color: $white;
        }

        width: 20px;
        height: 20px;
      }
    }

    .chats {
      .not-joined {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 14%;
      }
      .custom-divider {
        margin: 0 24px;
        font-size: 0.7em;
        color: $dark;
        .line {
          flex-grow: 1;
          height: 1px;
          background-color: black;
          margin: 0 10px;
        }
        .custom-divider-text {
          display: flex;
          justify-content: center;
          padding: 0 8px;
        }
      }
      .message {
        display: flex;
        .user-img {
          padding: 18px 8px 8px 16px;
        }
        .user-info {
          padding-top: 8px;
          .user-msg-time {
            margin: 0;
            color: rgb(138, 141, 145);
            font-weight: 400;
            font-size: 12px;
            margin-left: 9px;
            margin-bottom: 2px;
          }
          .receiver-message-content {
            @include themify(day) {
              background: #e4e6eb;
            }
            @include themify(night) {
              background: #cee2ff;
            }
            color: #050505;
            max-width: 280px;
            word-wrap: break-word;
            padding: 10px;
            border-radius: 0px 10px 10px;
          }
        }
      }
      .sender {
        margin-bottom: 0.17rem;
        .sender-message-time {
          color: rgb(138, 141, 145);
          display: flex;
          font-weight: 400;
          justify-content: flex-end;
          font-size: 12px;
          margin: 0;
          margin-right: 18px;
          margin-bottom: 2px;
        }
        .sender-message {
          max-width: 280px;
          margin-left: auto;

          display: flex;
          justify-content: flex-end;
          margin-right: 15px;

          .sender-message-content {
            border-radius: 10px 10px 0px;
            max-width: 280px;
            background-color: rgb(0, 132, 255);
            word-wrap: break-word;
            margin-bottom: 0;
            color: $white;
            font-size: 16px;
            font-weight: 400;
            padding: 8px 12px 8px 12px;
          }
        }
      }
    }
  }
  .chat {
    margin: 4px 8px;
    padding: 4px;
    min-height: 45px;
    border-radius: 20px;
    @include themify(day) {
      background: #e4e6eb;
    }
    @include themify(night) {
      background: #cee2ff;
    }

    .chat-input-group {
      .chat-input {
        padding-top: 13px;
        border: none;
        @include themify(day) {
          background: #e4e6eb;
        }
        @include themify(night) {
          background: #cee2ff;
        }
      }
      .msg-svg {
        padding: 8px;

        &.active {
          cursor: pointer;
        }
        &.active:hover {
          background: rgba(29, 155, 240, 0.1);
          border-radius: 50%;
        }
      }
    }
  }
}
