.user-nav {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 2px 3px;
  margin-top: 10px;
  padding-left: 12px;
  position: relative;

  .user-avatar {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }

  @media (min-width: $md-break) {
    margin-left: 10px;
    margin-top: 0;
  }

  @media (min-width: $xl-break) {
    margin-left: 16px;
  }

  @include themify(day) {
    background-image: linear-gradient(to left, $dusk-blue, $dark-sky-blue);
  }

  @include themify(night) {
    background-image: linear-gradient(to left, $dark-indigo, $dusky-blue);
  }

  .user-wallet,
  .user-points,
  .notifications,
  .points {
    color: $white;
    display: flex;
    align-items: center;
    margin-right: 12px;

    svg {
      height: 18px;
    }
  }

  .user-wallet,
  .user-points {
    position: relative;

    .reward-badge {
      background: $red4;
      border-radius: 50%;
      height: 5px;
      position: absolute;
      width: 5px;
      right: -1px;
      top: 0;
    }
  }

  .user-points{
    svg{
      margin-top: -2px;
    }
  }

  .notifications {
    cursor: pointer;
    position: relative;

    .notifications-badge {
      background: $red4;
      border-radius: 50%;
      color: $white;
      font-size: 10px;
      height: 14px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -3px;
      width: 14px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}
