@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.user-nav {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 2px 3px 2px 12px;
  margin-top: 10px;
  position: relative;

  .user-avatar {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }

  @media (min-width: $md-break) {
    margin-left: 10px;
    margin-top: 0;
  }

  @media (min-width: $xl-break) {
    margin-left: 16px;
  }

  @include themify(day) {
    background-image: linear-gradient(to left, $dusk-blue, $dark-sky-blue);
  }

  @include themify(night) {
    background-image: linear-gradient(to left, $dark-indigo, $dusky-blue);
  }

  .user-wallet,
  .user-points,
  .notifications,
  .chats,
  .points {
    color: $white;
    display: flex;
    align-items: center;
    margin-right: 12px;

    svg {
      height: 18px;
    }
  }

  .user-wallet,
  .user-points {
    position: relative;

    .reward-badge {
      background: $red4;
      border-radius: 50%;
      height: 5px;
      position: absolute;
      width: 5px;
      right: -1px;
      top: 0;
    }
  }

  .user-points {
    svg {
      margin-top: -2px;
    }
  }

  .notifications,
  .chats {
    cursor: pointer;
    position: relative;

    svg {
      height: 19px;
      width: 19px !important;
      margin-top: -1px;
    }

    .notifications-badge {
      background: $red4;
      border-radius: 50%;
      color: $white;
      font-size: 10px;
      height: 14px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -3px;
      width: 14px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }

  .drop-down-menu-power {
    font-size: 13px;
    padding: 8px 8px 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;

    @include themify(day) {
      background: $white-three;
    }

    @include themify(night) {
      background: $dark-two;
    }

    .label {
    }

    .power {
      display: flex;

      svg {
        height: 14px;
        margin-right: 2px;
      }

      .voting,
      .downVoting {
        display: flex;
        align-items: center;
      }

      .voting {
        margin-right: 6px;
        color: $dark-sky-blue;
      }

      .downVoting {
        color: $red2;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  // custom dropdown override
  .custom-dropdown {
    .menu-inner {
      width: 220px;

      .menu-header {
        padding-left: 20px;
      }
    }

    .menu-list {
      padding-top: 6px;

      .menu-item {
        .item-inner {
          margin-left: 20px;
          padding-left: 0;
        }
      }
    }
  }
}
