.user-nav {
  align-items: center;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 2px 3px;
  margin-top: 10px;
  padding-left: 12px;

  .user-avatar {
    width: 34px;
    height: 34px;
  }

  @media (min-width: $md-break) {
    margin-left: 10px;
    margin-top: 0;
  }

  @media (min-width: $xl-break) {
    margin-left: 22px;
  }

  @include themify(day) {
    background-image: linear-gradient(to left, $dusk-blue, $dark-sky-blue);
  }

  @include themify(night) {
    background-image: linear-gradient(to left, $dark-indigo, $dusky-blue);
  }

  .user-wallet,
  .activities,
  .points {
    color: $white;
    display: flex;
    align-items: center;
    margin-right: 12px;

    svg {
      height: 16px;
    }
  }
}
