@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.password-update-modal {
  .pass-generated {
    font-size: 14px;
    font-weight: 500;
    @apply text-red-020;
    word-break: break-all;
  }
}