.discussion {
  margin: 10px 0 30px 0;
  position: relative;
  min-height: 200px;

  @include themify(day) {
    border-top: 1px solid $white-three;
  }

  @include themify(night) {
    border-top: 1px solid $dark-two;
  }

  &.empty {
    border: none !important;
  }

  &.loading {
    border-color: transparent;
  }

  // fix progress bar to top
  .linear-progress {
    position: absolute;
    left: 0;
    top: 0;
  }

  .discussion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .icon {
      padding: 14px;
      border-radius: 50%;
      margin-bottom: 20px;
      color: $dark-sky-blue;
      border: 2px solid $dark-sky-blue;

      svg {
        height: 40px;
        margin-bottom: -2px;
      }
    }

    .label {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .discussion-header {
    align-items: center;
    color: $steel-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 90%;

    @media (min-width: $sm-break) {
      font-size: initial;
    }

    .count {
      align-items: center;
      display: flex;

      svg {
        height: 16px;
        margin-right: 6px;
        opacity: 0.5;
      }
    }

    .order {
      display: flex;
      align-items: center;

      .order-label {
        white-space: nowrap;
        margin-right: 6px;
        display: none;
        @media (min-width: $sm-break) {
          display: block;
        }
      }
    }
  }

  .discussion-list {
    .discussion-item {
      position: relative;

      &.selected-item > .item-inner {
        background: lighten($dark-sky-blue, 42);
        border: 1px solid $dark-sky-blue;
        padding-left: 4px;
        @include themify(night) {
          background: lighten($dark-two, 10);
      }
      }

      .item-anchor {
        position: absolute;
        left: 10px;
        top: -90px;
        opacity: 0;
        width: 1px;
        height: 1px;
      }

      .item-inner {
        display: flex;
        padding: 12px 0;

        .item-figure {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 10px;

          .user-avatar {
            width: 40px;
            height: 40px;

            @media (min-width: $md-break) {
              width: 40px;
              height: 40px;
            }
          }
        }

        .item-content {
          flex-grow: 1;
          font-size: 13px;
          width: calc(100% - 34px);

          @media (min-width: $md-break) {
            font-size: initial;
            width: calc(100% - 50px);
          }

          .item-header {
            display: flex;
            flex-direction: column;

            @media (min-width: $md-break) {
              align-items: center;
              flex-direction: row;
            }

            .author {
              align-items: center;
              display: inline-flex;

              .author-name {
                font-weight: 700;
                margin-right: 2px;
                word-break: keep-all;
              }

              @include themify(day) {
                color: $charcoal-grey;
              }

              @include themify(night) {
                color: $pinkish-grey;
              }

              .author-reputation {
                color: $steel-grey;
                font-weight: 500;

                &::before {
                  content: "(";
                }

                &::after {
                  content: ")";
                }
              }
            }

            .separator {
              @extend .circle-separator;
              display: none;
              @media (min-width: $md-break) {
                display: block;
              }
            }

            .date {
              opacity: 0.7;
            }
          }

          .reveal-item {
            margin-top: 12px;
          }

          .item-body {
            margin: 10px 0 14px 0;

            @include themify(day) {
              color: $tundora;
            }
          }

          .item-controls {
            align-items: center;
            display: flex;
            width: 100%;

            .reply-btn, .edit-btn, .delete-btn, .mute-btn {
              color: lighten($steel-grey, 10);
              cursor: pointer;

              &:hover {
                color: $steel-grey;
              }

              &.disabled {
                opacity: 0.4;
                cursor: not-allowed;
              }
            }

            .edit-btn, .delete-btn, .mute-btn {
              margin-left: 10px;
              color: lighten($steel-grey, 10);

              @media (min-width: $md-break) {
                margin-left: 16px;
              }

              svg {
                height: 14px;
              }
            }

            .delete-btn {
              &.in-progress {
                animation: anim-fadein-out 2s infinite;
                cursor: default;
              }
            }
          }

          .read-more {
            margin-top: 14px;
          }
        }
      }

      &.hidden-item {
        .item-inner {
          opacity: 0.6;
        }
      }

      .comment-box {
        padding-left: 20px;
        border-bottom: none;
      }

      .discussion-list {
        @include clearfix();
        margin-left: 18px;

        @media (min-width: $sm-break) {
          margin-left: 24px;
        }

        @media (min-width: $md-break) {
          margin-left: 50px;
        }

        @media (min-width: $md-break) {
          .discussion-item {
            // Add extra left padding and guide lines to sub items
            border-left: 1px dotted transparent;

            .item-inner {
              padding-left: 13px;
            }

            @include themify(day) {
              border-color: lighten($white-four, 0);
            }
            @include themify(night) {
              border-color: lighten($dark-six, 12);
            }
          }
        }
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1
}