.discussion {
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;

  @include themify(day) {
    border-top: 1px solid $white-three;
  }

  @include themify(night) {
    border-top: 1px solid $dark-two;
  }

  &.loading {
    border-color: transparent;
  }

  // fix progress bar to top
  .linear-progress {
    position: absolute;
    left: 0;
    top: 0;
  }

  .discussion-header {
    align-items: center;
    color: $steel-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 15px;

    .count {
      align-items: center;
      display: flex;

      svg {
        height: 16px;
        margin-right: 6px;
        opacity: 0.5;
      }
    }
    .order {
      display: flex;
      align-items: center;

      .order-label {
        white-space: nowrap;
        margin-right: 6px;
      }
    }
  }

  .discussion-list {
    .discussion-item {
      .item-inner {
        display: flex;
        padding: 12px 0;

        .item-figure {
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 10px;

          .user-avatar {
            width: 24px;
            height: 24px;

            @media (min-width: $md-break) {
              width: 40px;
              height: 40px;
            }
          }
        }

        .item-content {
          flex-grow: 1;
          font-size: 13px;
          overflow: hidden;

          @media (min-width: $md-break) {
            font-size: initial;
          }

          .item-header {
            display: flex;
            flex-direction: column;

            @media (min-width: $md-break) {
              align-items: center;
              flex-direction: row;
            }

            .author {
              align-items: center;
              display: inline-flex;

              .author-name {
                font-weight: 700;
                margin-right: 2px;
              }

              @include themify(day) {
                color: $charcoal-grey;
              }

              @include themify(night) {
                color: $pinkish-grey;
              }

              .author-reputation {
                color: $steel-grey;
                font-weight: 500;

                &::before {
                  content: "(";
                }

                &::after {
                  content: ")";
                }
              }
            }

            .separator {
              @extend .circle-separator;
              display: none;
              @media (min-width: $md-break) {
                display: block;
              }
            }

            .date {
              opacity: 0.7;
            }
          }

          .item-body {
            margin: 10px 0 14px 0;
          }

          .item-controls {
            align-items: center;
            display: flex;
            width: 100%;

            .reply-btn {
              align-items: center;
              color: lighten($steel-grey, 10);
              cursor: pointer;
              display: flex;
            }
          }
        }
      }

      .discussion-list {
        @include clearfix();
        margin-left: 20px;

        @media (min-width: $md-break) {
          margin-left: 50px;
        }

        @media (min-width: $md-break) {
          .discussion-item {
            // Add extra left padding and guide lines to sub items
            border-left: 1px dotted transparent;

            .item-inner {
              padding-left: 13px;
            }

            @include themify(day) {
              border-color: lighten($white-four, 0);
            }
            @include themify(night) {
              border-color: lighten($dark-six, 12);
            }
          }
        }
      }

      /*

      @include clearfix();
      border-left: 1px dotted transparent;

      .item-inner {
        @include clearfix();
        padding: 3px 3px 15px 0;
        margin-top: 4px;
        font-size: 12px;

        .item-header,
        .item-controls {
          color: $steel-grey;
        }


        .item-body,
        .item-controls {
          padding-left: 50px;
        }

        .item-header {
          align-items: center;
          display: flex;
          margin-bottom: 3px;

          .author-part {
            align-items: center;
            cursor: pointer;
            display: flex;
            position: relative;

            .author-avatar {
              border-radius: 50%;
              float: left;
              left: 0;
              position: absolute;
              top: 0;
              width: 40px;
              z-index: 2;
            }

            .author {
              align-items: center;
              display: inline-flex;

              .author-name {
                font-weight: 700;
                margin-right: 2px;
              }

              @include themify(day) {
                color: $charcoal-grey;
              }

              @include themify(night) {
                color: $pinkish-grey;
              }

              .author-reputation {
                color: $steel-grey;
                font-weight: 500;

                &::before {
                  content: "(";
                }

                &::after {
                  content: ")";
                }
              }
            }
          }

          .separator {
            @extend .circle-separator;
          }
        }

        .item-body {
          @include clearfix();
          padding: 4px 0;
          font-size: 12px !important;
        }

        .item-controls {
          align-items: center;
          display: flex;
          width: 100%;

          .reply-btn {
            align-items: center;
            color: lighten($steel-grey, 10);
            cursor: pointer;
            display: flex;
          }
        }
      }

     

      .item-show-more {
        margin-left: 50px;
        margin-bottom: 10px;
      }

      

      */
    }
  }
}
