.discussion {
  margin-bottom: 30px;
  margin-top: 15px;

  .entry-replies-header {
    align-items: center;
    color: $steel-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .reply-count {
      align-items: center;
      display: flex;
      font-size: 14px;

      @media (min-width: $sm-break) {
        font-size: 16px;
      }

      .mi {
        margin-right: 4px;
        opacity: 0.5;
      }
    }

    .sort-order {
      .label {
        margin-right: 5px;
      }

      .label,
      .ant-select {
        font-size: 14px;

        @media (min-width: $sm-break) {
          font-size: 16px;
        }
      }
    }
  }

  .discussion-list {
    .discussion-item {
      @include clearfix();

      border-left: 1px dotted transparent;

      .item-inner {
        @include clearfix();
        padding: 3px 3px 15px 0;

        .item-header,
        .item-controls {
          color: $steel-grey;
        }

        .item-body,
        .item-controls {
          margin-left: 34px;

          @media (min-width: $md-break) {
            margin-left: 50px;
          }
        }

        .item-header {
          align-items: center;
          display: flex;
          font-size: 14px;
          margin-bottom: 3px;

          .author-part {
            align-items: center;
            cursor: pointer;
            display: flex;
            position: relative;

            .author-avatar {
              border-radius: 50%;
              float: left;
              left: 0;
              position: absolute;
              top: 0;
              width: 24px;
              z-index: 2;

              .user-avatar {
                width: 24px;
                height: 24px;
              }

              @media (min-width: $md-break) {
                width: 40px;

                .user-avatar {
                  width: 40px;
                  height: 40px;
                }
              }
            }

            .author {
              align-items: center;
              display: inline-flex;
              margin-left: 34px;

              @media (min-width: $md-break) {
                margin-left: 50px;
              }

              .author-name {
                font-weight: 700;
                margin-right: 2px;
              }

              @include themify(day) {
                color: $charcoal-grey;
              }

              @include themify(night) {
                color: $pinkish-grey;
              }

              .author-reputation {
                color: $steel-grey;
                font-size: 14px;
                font-weight: 500;

                &::before {
                  content: "(";
                }

                &::after {
                  content: ")";
                }
              }
            }
          }

          .separator {
            @extend .circle-separator;
          }
        }

        .item-body {
          @include clearfix();
          padding: 0.2em 0;
        }

        .item-controls {
          align-items: center;
          display: flex;
          width: 100%;
          font-size: 96%;

          @media (min-width: $sm-break) {
            font-size: 14px;
          }

          .reply-btn {
            align-items: center;
            color: lighten($steel-grey, 10);
            cursor: pointer;
            display: flex;
          }
        }
      }

      .discussion-item {
        // Add extra left padding and guide lines to sub items

        @include themify(day) {
          border-color: $white-two;
        }
        @include themify(night) {
          border-color: lighten($dark-six, 12);
        }

        .item-inner {
          padding-left: 13px;
        }
      }

      .item-show-more {
        margin-left: 50px;
        margin-bottom: 10px;
      }

      .discussion-list {
        @include clearfix();
        margin-left: 10px;

        @media (min-width: $sm-break) {
          margin-left: 20px;
        }

        @media (min-width: $md-break) {
          margin-left: 50px;
        }
      }
    }
  }
}
