@import "src/style/vars_mixins";

.nav-bar-electron {
  padding: 0;
  margin-bottom: 30px;
  height: 64px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 2;
  @include themify(day) {
    @apply bg-light-200;
    box-shadow: 0 0 2px 1px #f8f8f8;
  }

  @include themify(night) {
    @apply bg-dark-200;
  }

  .nav-bar-inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    flex-direction: row;

    .brand {
      height: 44px;
      width: 44px;
      text-decoration: none;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 40px;

      .logo {
        width: 44px;
        height: 44px;
      }
    }

    .nav-controls {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      font-size: 24px;
      height: 100%;
      margin-right: 30px;

      .back,
      .forward,
      .reload {
        cursor: pointer;
        display: flex;

        svg {
          height: 24px;
          width: 24px;
        }

        @include themify(day) {
          @apply text-gray-steel;
        }

        @include themify(night) {
          @apply text-light-500;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }

        &.disabled {
          pointer-events: none;

          @include themify(day) {
            @apply text-silver;
          }

          @include themify(night) {
            opacity: 0.5;
          }
        }
      }
    }

    .address-bar {
      align-items: center;
      border-radius: 8px;
      display: flex;
      flex-grow: 1;
      height: 38px;
      margin-right: 18px;
      position: relative;

      @include themify(day) {
        @apply bg-light-300;
        @apply text-gray-steel;
      }

      @include themify(night) {
        @apply bg-blue-dark-grey;
        @apply text-light-500;
      }

      .pre-add-on {
        align-items: center;
        display: flex;
        font-size: 18px;
        height: 100%;
        justify-content: center;
        width: 47px;

        @include themify(day) {
          @apply text-gray-steel;
        }

        @include themify(night) {
          @apply text-light-500;
        }

        svg {
          height: 20px;
        }
      }

      .address {
        align-items: center;
        display: flex;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;

        .protocol {
          flex-grow: 0;
          font-size: 90%;
          font-weight: 500;
          user-select: none;
        }

        .url {
          flex-grow: 1;
          margin-right: 10px;
          height: 100%;

          input[type="text"] {
            background: transparent;
            border: 0;
            outline: none;
            font-size: 90%;
            color: $gray-600;
            width: 100%;

            &:focus {
              outline: none;
            }

            &::placeholder {
              @apply text-silver;
              padding-left: 10px;
            }

            @include themify(day) {
              @apply text-gray-steel;
            }

            @include themify(night) {
              @apply text-light-500;
            }
          }
        }
      }
    }

    .text-menu {
      margin-right: 18px;
      flex-grow: 0;

      .drop-down-menu-version {
        padding: 10px 0;
        text-align: center;
        font-size: 13px;

        @include themify(day) {
          @apply bg-light-300;
        }

        @include themify(night) {
          @apply bg-dark-200;
        }
      }
    }

    .switch-theme,
    .switch-language {
      margin-right: 18px;
      flex-grow: 0;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .switch-theme {
      cursor: pointer;

      @include themify(day) {
        @apply text-gray-warm;
      }

      @include themify(night) {
        @apply text-blue-duck-egg;
        opacity: 0.8;
      }
    }

    .login-required {
      margin-right: 18px;
      display: flex;

      .btn {
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  &.can-float {
    @media (min-width: $md-break) {
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      height: 64px;
      width: 100%;

      @include themify(day) {
        @apply bg-light-200;
        box-shadow: 0 0.5rem 1rem rgba($gray-500, 0.15);
      }

      @include themify(night) {
        @apply bg-dark-200;
      }
    }
  }

  // Custom dropdown colors
  .custom-dropdown {
    .dropdown-btn {
      @include themify(day) {
        @apply text-gray-warm;
      }

      @include themify(night) {
        @apply text-blue-duck-egg;
        opacity: 0.8;
      }
    }
  }
}

.nav-bar-electron-rep {
  display: block;
  margin-bottom: 30px;
  height: 64px;
}

body.medium-zoom--opened {
  .nav-bar-electron {
    display: none !important;
  }
}
