logs
*.log
npm-debug.log*
.DS_Store
.idea
cache
coverage
node_modules
build
public/static
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
dev.sh
*~
*.marks
defaults-proofofbrain.json
defaults-localhost.json
