.entry-payout {
  color: $steel-grey;
  margin-right: 15px;

  @media (min-width: $sm-break) {
    margin-right: 25px;
  }

  @include themify(night) {
    font-weight: 500;
  }

  &.payout-declined {
    color: lighten($steel-grey, 15);
    text-decoration: line-through;
  }
}

.payout-popover-content {
  width: 290px;

  p {
    margin: 0 0 8px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    .label {
      display: inline-block;
      font-weight: 500;
      width: 164px;
    }

    .value {
    }
  }
}
