.entry-payout {
  color: $steel-grey;
  margin-right: 15px;
  cursor: default;

  @include themify(sky) {
    color: $white-three;
  }

  @media (min-width: $sm-break) {
    margin-right: 25px;
  }
  @media (max-width: $xxsm-break) {
    font-size: 12px;
    margin-right: 5px;
  }
  @include themify(night) {
    font-weight: 500;
  }

  &.payout-declined {
    text-decoration: line-through;
  }

  &.payout-limit-hit {
    opacity: .8;
  }

  @include themify(sky) {
    color: $white-three;
  }
}

.payout-popover {
  max-width: none !important;
  font-size: .92em !important;
  .popover-body {
    max-width: none !important;

    .payout-popover-content {
      p {
        margin: 0 0 8px 0;
        display: flex;

        &:last-of-type {
          margin-bottom: 0;
        }

        .label {
          display: inline-block;
          font-weight: 500;
          width: 130px;
        }
      }
    }
  }
}
