@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.option {
  border-radius: 8px;
  width: 108px;
  height: 86px;
  &:hover {
    background-color: #ebf2fc;

    @include themify(night) {
      background-color: $steel-grey;
    }
  }
}

.option path {
  fill: #1b68da;
}

.header-icon path {
  fill: #1b68da;
}

.header {
  font-size: 21px;
  font-weight: 500;
  position: relative;
  padding: 0px 0px!important;

  button {
    position: absolute;
    top: -25px;
    right: 13px;
  }
  .title {
    position: absolute;
    top: -22px;
  }
}

.w-80 {
  width: 80% !important;
}

.back-icon path {
  fill: #1b68da;
}

.back-icon {
  color: #1b68da;
  width: 25px;
}

.suggestion .suggestion-list {
  position: absolute !important;
}

.coming-soon {
  position: absolute;
  left: 10px;
  top: 10px;
}
