.selected-tags-card {
  @include side-tag-list;
  margin-bottom: 20px;

  .tag-list-item {
    span {
      display: flex;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        margin-right: 4px;
      }
    }

    &:not(.selected-item) {
      @include themify(day) {
        color: darken($silver, 16);
      }
    }
  }
}
