@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.selected-tags-card {
  @include side-tag-list;
  margin-bottom: 20px;

  .tag-list-item {
    span {
      display: flex;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        margin-right: 4px;
      }
    }

    &:not(.selected-item) {
      @include themify(day) {
        @apply text-silver-035;
      }
      @include themify(night) {
        @apply text-silver-010;
      }
    }
  }
}
