@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.video-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    font-size: 12px;

    .video-list-body{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:200px;
        height: max-content;

        @media screen and (max-width: 420px) {
            width: 300px;
          }
        

        .thumnail-wrapper{
          position: relative;
            width: 100%;
            cursor: pointer;

            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 10px;
            }

            .nsfw-wrapper{
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 10px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-top: 5px;

              @include themify(night) {
                background: #283241;
                color: $pinkish-grey;
                border: 1px solid $dark;
              }
        
              @include themify(day) {
                background: $white;
                color: $charcoal-grey;
                border: 1px solid $white-five;
              }
            }
        }        

        .list-details-wrapper{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0 10px;
            margin-top: 5px;
            width: 100%;

            .list-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                
                .details-title{
                    font-size: 16px;
                }

                .info-status{
                  display: flex;
                  align-items: center;
                  gap: 5px;

                  .status-icon-wrapper{
                    border-radius: 50%;
                    
                    .status-icon-encoded{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: rgb(163, 232, 59);
                    }

                    .status-icon-published{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: rgb(45, 71, 6);
                    }

                    .status-icon-failed{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: rgb(199, 94, 94);
                    }

                    .status-icon-encoding{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: rgb(228, 144, 42);
                    }

                    .status-icon-deleted{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: gray;
                    }
                }

                  .info-icon-wrapper {
                      height: 15px;
                      width: 15px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      opacity: 0.8;
                      border-radius: 50%;
                      border-width: 1px;
                      border-style: solid;
                      cursor: pointer;
                      &:hover {
                        opacity: 1;
                      }
                      @include themify(day) {
                        svg {
                          color: $dark-six;
                          border-color: $dark-six;
                          height: 100%;
                        }
                      }
                      @include themify(night) {
                        svg {
                          color: $duck-egg-blue;
                          border-color: $duck-egg-blue;
                          height: 100%;
                        }
                      }
                  
                      .info-icon{
                          width: 15px;
                          height: 15px;
                      }
                    }
                }

            }

            // .list-bottom-wrapper{
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;

            //     .video-date{
            //         font-size: 12px;
            //     }

            //     .published-wrapper{
            //         display: flex;
            //         align-items: center;
            //         gap: 5px;

            //         .post-video-btn{
            //             background-color: $dark-sky-blue;
            //             width: max-content;
            //             padding: 5px;
            //             border-radius: 5px;
            //             border: none;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             padding: 5px;
            //         }
    
            //     }

            //     .status-icon-wrapper{
                    
            //         .status-icon{
            //             font-size: 18px;
            //             cursor: pointer;
            //         }
            //     }
            // }

        }


    }
  }

  .video-status-picker{
    margin-bottom: 10px;
  }
  
  .more-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    right: 20px;
    top: 10px;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 999;

    @include themify(night) {
        background: #283241;
        color: $pinkish-grey;
        border: 1px solid $dark;
      }

      @include themify(day) {
        background: $white;
        color: $charcoal-grey;
        border: 1px solid $white-five;
      }
  }
  