@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.video-list{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    font-size: 12px;

    .video-list-body{
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .video-wrapper {
            width: 80%;
            height: 0;
            padding-bottom: 320px;
            position: relative;
            overflow: hidden;
            
            .iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        
            img{
                width: 80%;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }

        .list-details-wrapper{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 5px;
            width: 80%;

            .list-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width:100%;
                
                .details-title{
                    font-size: 16px;
                }
                .details-svg{
                    font-size: 15px;
                    cursor: pointer;
                    color: $dark-sky-blue;
                }
            }

            .list-bottom-wrapper{
                display: flex;
                align-items: center;
                // width: 100%;
                justify-content: space-between;

                .video-date{
                    font-size: 12px;
                }

                .published-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .post-video-btn{
                        background-color: $dark-sky-blue;
                        width: max-content;
                        padding: 5px;
                        border-radius: 5px;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                    }
    
                    .published{
                        color: rgb(107, 243, 107);
                    }
                }

                .encoding{
                    color: rgb(238, 238, 128);
                }
                .encoding-failed{
                    color: rgb(241, 80, 80);
                }
            }

        }


    }
  }

  .video-status-picker{
    margin-bottom: 10px;
  }
  
  .more-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    right: 70px;
    top: 100px;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 999;

    @include themify(night) {
        background: #283241;
        color: $pinkish-grey;
        border: 1px solid $dark;
      }

      @include themify(day) {
        background: $white;
        color: $charcoal-grey;
        border: 1px solid $white-five;
      }
  }
  
  