.entry-index-menu {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;


  @media (max-width: $md-break) {
    padding: 10px;
  }

   
  @include themify(day) {
    border-bottom: 1px solid $white-three;
  }

  @include themify(night) {
    border-bottom: 1px solid $dark-two;
  }

  @media (min-width: $md-break) {
    height: 50px;
    padding: 0;
  }

  .the-menu {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $md-break) {
      flex-direction: row;
    }

    .main-menu {
      display: flex;
      justify-content: center;

      @media (min-width: $md-break) {
        margin-bottom: 0;
        align-items: center;
      }

      .lg-menu {
        display: none;

        .nav-link {
          border-radius: 24px;
          display: flex;
          align-items: center;
          font-weight: 500;
        }
      }

      @media (min-width: $lg-break) {
        .sm-menu {
          display: none;
        }

        .lg-menu {
          display: block;
        }
      }
    }

    .sub-menu {
      display: none;
      @media (min-width: $lg-break) {
        display: flex;
        align-items: center;
      }

      @media (min-width: $md-break) and (max-width: $lg-break) {
        margin-right: 1em;
      }

      .nav-link {
        border-radius: 24px;
        display: flex;
        align-items: center;
        font-weight: 500;
        padding: 6px 12px;
        font-size: 90%;
      }
    }
  }

  @media (min-width: $md-break) {
    justify-content: space-between;
  }
}

.my-link {
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;


  @media (max-width: $md-break) {
    padding: 6px 12px !important;
    font-size: 90% !important;
    margin-bottom: 0.5em;
  }
}
