@import "src/style/vars_mixins";

.entry-index-menu {
  .tagDropDown {
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      // margin-bottom: 8px;
      padding: 4px 8px;
      text-decoration: none;
      transition: 0.5s;
      font-size: 90%;
  
      @include tag;

      svg {
        width: 20px;
      }
  }

  .dropDown-left-border-height {
    height: 20px;
  }

  .the-menu {

    .main-menu {
      
      .kebab-icon {
        padding: 0.2rem 0.75rem;
      }
    }
  }
}

.my-link {
  padding: 0.2rem 0.75rem !important;
  font-size: 1rem !important;


  @media (max-width: $md-break) {
    padding: 6px 12px !important;
    font-size: 90% !important;
    margin-bottom: 0.5em;
  }
}

.info-icon {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @include themify(day) {
    svg {
      @apply text-dark-600;
      @apply border-dark-600;
      height: 100%;
    }
  }
  @include themify(night) {
    svg {
      height: 100%;
      @apply text-blue-duck-egg;
      @apply border-blue-duck-egg;
    }
  }
}
.he-icon {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @include themify(day) {
    svg {
      @apply text-gray-charcoal;
      height: 100%;
    }
  }

  @include themify(night) {
    svg {
      @apply text-gray-warm;
      height: 100%;
    }
  }
}

.tooltip-inner {
  max-width: 380px;
  padding: 0.25rem 0.5rem;
  color: #000000;
  text-align: center;
  background-color: #c2d4f5;
  border-radius: 0.25rem;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #c2d4f5;
}

.overlay-for-introduction {
  background-color: rgba(0, 0, 0, 0.48);
  position: absolute;
  inset: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 4;
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .he-icon {
    height: 42px;
    width: 42px;
    padding: 10px;
    &:hover {
      opacity: 1;
    }
    @include themify(day) {
      svg {
        @apply text-gray-charcoal;
        height: 100%;
      }
    }
  
    @include themify(night) {
      svg {
        @apply text-gray-warm;
        height: 100%;
      }
    }
  }
}