@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.profile-communities {
  margin-top: 10px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .community-list {
    padding-left: 20px;

    li {
      margin-bottom: 10px;

      .user-role {
        margin-left: 6px;
        text-transform: uppercase;
        @apply text-silver;
        font-size: 90%;
      }
    }
  }
}
