.onboard{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      // width: max-content;
      background-color: #161d26;
      // background-color: $dark-three;
      padding: 2rem;
      border-radius: 1rem;
      color: $steel-grey;
      word-break: break-all;
      
      @media (max-width: 470px) {
        width: 90%;
        margin-top: 100px;
      }
    }
    
    .friend-details{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .create-buttons{
      display: flex;
      margin-top: 5px;
      gap: 10px;
      width: 100%;
    }

    .delegate-rc{      
      .check{
        display: flex;
        align-items: center;
        gap: 5px;
  
        .checkbox{
          height: 20px;
          width: 20px;
        }
      }
    }


    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    .blinking-text {
      color: rgb(175, 221, 50);
      animation: blink 2s infinite;
    }
    
    .operation-amount{
      display: flex;
      margin-top: 3px;

      @media (max-width: 470px) {
        flex-wrap: wrap;
      }
    }
    
    .pay-wrapper{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      @media (max-width: 470px) {
        width: 300px;      
      }
    }

    .animation-container {
      text-align: center;
    }
    
    .animation-text {
      animation: spin 2s ease-in-out infinite;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(8deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-8deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    
        