.onboard{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: max-content;
      background-color: #161d26;
      // background-color: $dark-three;
      padding: 2rem;
      border-radius: 1rem;
      color: $steel-grey;
      word-break: break-all
    }
    
    .friend-details{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .create-buttons{
      display: flex;
      margin-top: 5px;
      gap: 10px;
    }

    .delegate-rc{      
      .check{
        display: flex;
        align-items: center;
        gap: 5px;
  
        .checkbox{
          height: 20px;
          width: 20px;
        }
      }
    }


    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    .blinking-text {
      color: rgb(175, 221, 50);
      animation: blink 2s infinite;
    }
    