@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.deck {
  height: 100vh;
  background-color: $white;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 4px solid $gray-300;
  border-right: 4px solid $gray-300;

  .accordion .deck-header {
    padding: 0.69rem;
    display: grid;
    border-bottom: 1px solid $gray-200;

    .deck-index {
      grid-area: drag-icon;
    }

    .header-title {
      grid-area: title;
    }

    .accordion-toggle {
      grid-area: dropdown;
    }

    .icon {
      grid-area: icon;
    }

    .username {
      grid-area: username;
    }
  }

  > .deck-header {
    background-color: rgba($white, 0.5);
    backdrop-filter: blur(1rem);

    &.header-sticky {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
    }

    &.primary {
      .header-title {
        font-weight: bold;

        @include font-size(2rem);
        @include margin-top(2rem);
      }

      .accordion .deck-header {
        grid-template-areas:
          "drag-icon empty dropdown"
          "title title title";
        grid-template-columns: min-content 1fr min-content;
      }
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 100%;
  }

  @include themify(night) {
    background-color: $dark-two;
  }

  .cog-icon {
    width: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .icon svg {
    width: 100%;
    height: 100%;
  }

  .icon path {
    fill: $dark-sky-blue;
  }

  .header-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .hot-item-index {
    font-size: 16px;
    font-weight: 500;
  }

  .hot-item-link {
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
  }

  .hot-item-post-count {
    font-size: 14px;
    font-weight: 400;
  }

  .item-container {
    max-height: calc(100vh - 176px);
    overflow: auto;
  }

  .search-item-avatar {
    width: 35px;
    height: 35px;
  }

  .search-post-image {
    width: 100%;
    height: 146px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }

  .footer-icons svg {
    width: 18px;
    height: 18px;
  }

  .footer-icons {
    flex: 0.8;
  }

  .deck-item-body {
    max-width: 370px;
    word-break: break-word;
    line-height: 1.4;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
    display: -webkit-box;
  }

  .deck-body {
    .tooltiptext {
      max-width: 295px !important;
    }
  }

  .deck-body .item-controls {
    max-width: 80%;

    .comments {
      path {
        fill: $light-grey !important;
      }
    }

    div {
      margin: 0px !important;
    }

    font-size: 12px !important;

    svg {
      width: 16px !important;
    }

    .menu-down {
      height: auto !important;
      width: auto !important;
    }
  }

  .deck-pinned {
    color: $red4 !important;
    transform: rotate(45deg);

    svg {
      width: 14px !important;
    }
  }

  .deck-header-settings-item {
    font-size: 14px;

    .toggle {
      padding: .68rem;
      font-size: 14px;
    }

    .label {
      max-width: 100px;
      min-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}