@import "src/style/bootstrap_vars";

.decks {
  display: grid;
  grid-template-columns: 72px 1fr min-content;
  color: $black;
  align-items: center;
  background-color: $gray-300;
  transition: 0.3s;

  &.expanded {
    grid-template-columns: 280px 1fr min-content;
  }

  .decks-container {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .decks-container, *[data-rbd-droppable-id] {
    height: 100vh;
  }

  *[data-rbd-draggable-id]:first-child .deck {
    border-left: 0;
  }

  #draggable-container {
    display: flex;
    scroll-behavior: smooth;
  }

  .add-new-column-button {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    height: 3rem;

    @include transition(0.3s);

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}