.wallet-hive-engine {
  @include wallet;

  .unclaimed-rewards {
    .rewards {
      margin-right: 10px;
    }
  }

  .item-image {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .entry-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 15px 10px;
    font-weight: 500;
    background: $light-powder-blue;
    color: $dark-two;

    .entry-header {
      margin-left: 10px;
    }

    .entry-body {
      font-weight: 600;
      color: $dark-sky-blue;

      .item-conversion {
        color: $green1;
      }

      .item-balance {
      }
    }

    @include themify(night) {
      background: #283241;
      color: white;
    }
  }
}
