.community-card {
  position: relative;

  @media (min-width: $md-break) {
    padding-top: 16px;
  }

  .community-avatar {
    width: 128px;
    height: 128px;
    margin: 0 auto 26px auto;
    position: relative;

    @media (min-width: $md-break) {
      float: none;
      margin: 0 0 26px 0;
    }

    .user-avatar {
      border: 3px solid $duck-egg-blue;
      height: 128px;
      width: 128px;
      background-color: transparent;
    }
  }

  .community-info {
    text-align: center;
    color: $dark-sky-blue;
    margin-bottom: 24px;

    @media (min-width: $md-break) {
      text-align: left;
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 18px;
    }

    .about {
      font-weight: 300;
    }
  }

  .community-section {
    margin-bottom: 14px;

    .section-header {
      background: $white-three;
      color: $steel-grey;
      padding: 10px;
      border-radius: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      @media (min-width: $md-break) {
        border-radius: 0 18px 18px 0;
      }

      svg {
        height: 16px;
        margin-right: 10px;
      }
    }

    .section-content {
      font-size: 90%;
      color: $steel-grey;
    }
  }

  .section-team {
    .team-member {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      color: $steel-grey;
      margin-bottom: 4px;

      .username {
        margin-right: 6px;
      }

      .role {
        margin-right: 6px;
        text-transform: uppercase;
      }

      .extra {
        border: 1px solid lighten($green1, 1);
        padding: 0 2px;
        border-radius: 6px;
      }
    }
  }
}
