.community-card {
  .community-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    line-height: 100%;
    height: 50px;

    @include themify(day) {
      color: $dark-sky-blue;
      border-bottom: 1px solid $white-three;
    }

    @include themify(night) {
      color: $pastel-blue;
      border-bottom: 1px solid $dark-two;
    }

    svg {
      height: 20px;
      margin-right: 10px;
    }
  }

  .community-panel {
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 96%;
    line-height: 1.7;

    @include themify(day) {
      background: lighten($white-three, 2);
    }

    @include themify(night) {
      background: lighten($dark-two, 2);
    }
  }

  .section-header {
    font-weight: 500;
    font-size: $font-size-base;
    margin-bottom: 6px;
  }

  .section-about {
    margin-bottom: 20px;
  }

  .section-stats {
    margin-bottom: 20px;

    .stat {
      display: flex;
      align-items: center;
      margin-top: 6px;
    }
  }

  .section-controls {
    margin-bottom: 20px;
  }

  .section-team {
    .team-member {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      color: $steel-grey;
      margin-bottom: 4px;

      .username {
        margin-right: 6px;
      }
      .role {
        margin-right: 6px;
        text-transform: uppercase;
      }
      .extra {
        border: 1px solid lighten($green1, 1);
        padding: 0 2px;
        border-radius: 6px;
      }
    }
  }

  .section-description,
  .section-rules {
    margin-bottom: 20px;
  }

  .section-description {
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .section-rules {
    ol {
      margin: 0;
      padding-left: 30px;
    }
  }
}
