.new-feature{
    position: relative;
    padding: 6px 22px;
  }
  
  .new-feature::after{
    content: 'New';
    font-size: 8px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    height: 15px;
    width:25px;
    background: red;
    position: absolute;
    top: -2px;
    right: 0px;
    border-radius: 10px;
    vertical-align: 5px;
  }