@import "src/style/vars_mixins";

.drafts-modal {
  .modal-body {
    .dialog-content {
      min-height: 590px;

      .dialog-filter {
        height: 70px;
      }

      .drafts-list {
        margin-top: 7px;
        height: 520px;
        overflow: auto;

        .drafts-list-body {
          .drafts-list-item {
            @include entry-list-item;
            margin: 0;
            padding: 0 0 16px 0 !important;

            &:not(:last-child) {
              margin: 0 0 20px 0;
            }

            .item-body {
              .item-summary {
                .item-title, .item-body {
                  cursor: pointer;
                }
              }
            }

            .item-controls {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .btn-controls {
                .btn-clone {
                  margin-right: 20px;
                }

                .btn-edit {
                  margin-right: 20px;
                }

                .btn-delete {
                  margin-right: 10px;
                }

                .btn-delete,
                .btn-edit,
                .btn-clone {
                  cursor: pointer;

                  svg {
                    height: 18px !important;
                  }

                  @include themify(day) {
                    @apply text-silver;
                  }

                  @include themify(night) {
                    @apply text-gunmetal;
                  }

                  &:hover {
                    opacity: 0.7;
                  }
                }


              }
            }
          }
        }
      }
    }
  }
}

.no-img {
  width: 45px;
}