.drafts-modal {

  .dialog-content {
    height: 500px;
    overflow: auto;

    .drafts-list {
      .drafts-list-body {
        .drafts-list-item {
          @include entry-list-item;

          margin: 0 0 20px 0;

          .item-body {
            .item-title, .item-body {
              cursor: default !important;
            }
          }

          .item-controls {
            display: block;

            .btn-delete,
            .btn-edit {
              cursor: pointer;
              margin-right: 12px;

              svg {
                height: 18px !important;
              }

              @include themify(day) {
                color: $silver;
              }

              @include themify(night) {
                color: $gunmetal;
              }
            }
          }
        }
      }
    }
  }
}
