.drafts-modal {
  .modal-body {
    .dialog-content {
      height: 500px;
      overflow: auto;

      .drafts-list {
        .drafts-list-body {
          .drafts-list-item {
            @include entry-list-item;

            margin: 0 0 20px 0;

            .item-body {
              .item-summary {
                .item-title, .item-body {
                  cursor: pointer;
                }
              }
            }

            .item-controls {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .btn-controls {
                .btn-edit {
                  margin-right: 20px;
                }

                .btn-delete {
                  margin-right: 10px;
                }

                .btn-delete,
                .btn-edit {
                  cursor: pointer;

                  svg {
                    height: 18px !important;
                  }

                  @include themify(day) {
                    color: $silver;
                  }

                  @include themify(night) {
                    color: $gunmetal;
                  }

                  &:hover {
                    opacity: 0.7;
                  }
                }


              }
            }
          }
        }
      }
    }
  }
}
