@import "src/style/vars_mixins";

.community-settings-dialog {
  .community-settings-dialog-content {
    .settings-form {
      padding-top: 10px;

      textarea {
        border-radius: 6px;
        height: 120px;
        resize: none;
      }
    }
  }
}
