.table-row {
    height: 100px;
    cursor: pointer;
}

.token-image{
    position: relative;

    .type-image{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 2px;
        left: 30px;
    }
}