@import "../../styles/vars_mixins";

.communities-page {
  flex-direction: column;

  .community-list {
    max-width: 680px;
    width: 100%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 12px;

    @include themify(day) {
      @apply bg-light-200;
    }

    @include themify(night) {
      @apply bg-dark-600;
    }

    @media (min-width: $md-break) {
      padding: 20px;
    }

    .list-header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list-title {
        @apply text-blue-dark-sky;
        font-size: 26px;
        margin: 0;
        flex-grow: 1;
      }

      .create-link {
        font-size: 90%;
      }
    }

    .list-form {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .search {
        max-width: 400px;
        margin-right: 60px;
        flex-grow: 1;
      }

      .sort {
        flex-grow: 0;
      }
    }

    .list-items {
      padding-top: 20px;
    }
  }

  .community-form {
    max-width: 500px;
    width: 100%;
    margin: auto;

    .form-title {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 26px 0;
    }

    .form-group {
      margin-bottom: 30px;

      .form-text {
        display: flex;
        align-items: center;
        svg {
          height: 14px;
          margin-right: 4px;
        }
      }
    }

    .fee, .creator {
      font-weight: 500;
      @apply text-blue-dark-sky;
    }

    .password {
      @apply text-red-030;
      padding: 0 10px;
      border-radius: 6px;
      font-size: 90%;

      span {
        display: block;
        margin: 10px 0;
      }

      @include themify(day) {
        border: 1px solid;
        @apply border-light-310;
        @apply bg-light-300;
      }

      @include themify(night) {
        @apply border-dark-600-010;
        @apply bg-dark-600;
      }
    }
  }
}


.community-key-modal {
  .modal-body {
    padding-top: 30px;
  }
}

.community-title {
  font-weight: 700;
  font-size: 59px;
  @apply text-black;
  line-height: 68px;

  @include themify(night) {
    @apply text-white;
  }

  @media (max-width: $lg-break) {
    font-size: 46px;
    line-height: 59px;
  }

  @media (max-width: $sm-break) {
    font-size: 31px;
    line-height: 37px;
  }
}

.descriptive-list {
  @apply text-blue-dark-sky;
  font-weight: 300;
  font-size: 24px;

  li {
    line-height: 50.4px;

    @media (max-width: $lg-break) {
      line-height: 38px;
    }

    @media (max-width: $sm-break) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  @include themify(night) {
    @apply text-gray-warm;
  }

  @media (max-width: $lg-break) {
    font-size: 21px;
    line-height: 31px;
  }

}

.learn-more {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  a {
    @apply text-blue-dark-sky;
  }

  @include themify(night) {
    @apply text-gray-warm;
  }

  @media (max-width: $lg-break) {
    font-size: 16px;
  }

  @media (max-width: $sm-break) {
    font-size: 15px;
    line-height: 25px;
  }

}

.community-form {

  input {
    padding: 1.675rem 0.75rem !important;
    font-size: 18px !important;
    @apply bg-blue-light-powder;

    @include themify(night) {
      @apply bg-transparent;
      @apply text-gray-warm;
      @apply border-dark-300;
    }

    &:hover, &:focus {
      @include themify(night) {
        @apply bg-dark-200;
        @apply border-blue-dark-sky;
      }
    }
  }

  input#copy-to-clipboard {
    @apply text-red-020;
  }

  button {
    font-size: 18px !important;
    :disabled {
      @apply bg-blue-pastel;
    }

    @include themify(night) {
      @apply bg-blue-dark-grey;
      @apply border-blue-dark-grey;
      :disabled {
        @apply bg-blue-dusky;
      }
    }
  }

  button#black-on-night {
    @include themify(night) {
      @apply bg-dark-200;
      @apply border-dark-200;
      @apply text-white;
    }
  }

  button.btn-primary {
    @include themify(night) {
      @apply bg-blue-dark-sky;
      @apply border-blue-dark-sky;
    }
  }

  .form-text {
    svg {
      height: 14px;
      margin-right: 4px;
    }
  }
}

.info-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-gunmetal;
  border: 1.17px solid;
  @apply border-gunmetal;
  font-size: 10px;
}

.form-label {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.label-text {
  font-size: 18px;
  font-weight: 400;
}

.community-form {
  margin-top: 1rem;

  @media (max-width: $sm-break) {
    margin-top: -2rem;
  }
}
