.witnesses-active-proxy {
  @include themify(day) {
    color: $charcoal-grey;
  }

  @include themify(night) {
    color: $powder-blue;
  }

  .description {
    margin: 20px 0 40px 0;
  }

  .proxy-form {
    align-items: center;
    display: flex;

    .current-proxy {
      margin-right: 20px;
    }
  }
}
