.wallet {
  margin-top: 20px;

  .balance-row {
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    cursor: default;

    .balance-info {
      flex-grow: 1;

      .title {
        font-weight: 500;
        margin-bottom: 10px;

        @include themify(day) {
          color: $charcoal-grey;
        }

        @include themify(night) {
          color: $powder-blue;
        }
      }

      .description {
        font-size: 94%;
        color: $steel-grey;
        line-height: 1.5;
        max-width: 600px;
      }
    }

    .balance-values {
      color: $dark-sky-blue;
      font-weight: 500;
      display: flex;
      flex-direction: column;

      .amount {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &.delegated-shares,
        &.received-shares,
        &.next-power-down-amount {
          color: $steel-grey;
        }

        .btn-delegated,
        .btn-delegatee {
          border-bottom: 1px dashed $steel-grey;
          cursor: pointer;
        }
      }
    }

    &.alternative {
      @include themify(day) {
        background: $white-three;
      }

      @include themify(night) {
        background: lighten($dark-six, 4);
      }
    }
  }

  .next-power-down {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    padding: 10px;

    @include themify(day) {
      color: $steel-grey;
    }

    @include themify(night) {
      color: $metallic-blue;
    }
  }
}
