@import "src/styles/vars_mixins";

.community-cover {
  .btn-edit-cover-image {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply bg-blue-dark-sky;
    @apply text-white;
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow;
    }

    svg {
      height: 16px;
    }
  }
}
