@import "src/style/vars_mixins";

.deck {

  .thread-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    &-header {
      display: grid;
      grid-template-areas:
        "avatar username date"
        "avatar host date";
      grid-gap: 0 1rem;
      grid-template-columns: 35px 1fr min-content;

      .user-avatar {
        grid-area: avatar;
      }

      .host {
        grid-area: host;

        > a {
          color: $secondary;

          @include font-size(0.75rem);
        }
      }

      .username {
        grid-area: username;
        font-weight: 500;

        @include font-size(0.875rem);
      }

      .date {
        grid-area: date;
        font-weight: bold;
        opacity: 0.5;

        @include font-size(0.75rem);
      }
    }

    .thread-render {
      display: grid;

      line-height: 1.5;
      overflow-wrap: break-word;
      word-break: break-word;

      @include font-size(0.875rem);

      .markdown-tag-link {
        color: $primary;
      }

      p {
        &:last-child {
          @include margin-bottom(0);
        }

        img {
          width: 100%;

          @include margin-top(1rem);
          @include margin-bottom(1rem);

          &:last-child {
            @include margin-bottom(0);
          }

          &:first-child {
            @include margin-top(0);
          }
        }
      }
    }
  }
}