@import "src/style/bootstrap_vars";

.deck-add-column {

  .deck-content {
    .subtitle {
      font-weight: bold;

      @include font-size(1rem);
    }

    .helper-text {
      opacity: 0.5;
      line-height: 1.5;

      @include font-size(0.87rem);
    }

    .item {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-areas:
        "icon title"
        "icon description";
      align-items: center;
      grid-gap: 0.25rem;
      cursor: pointer;

      @include transition(0.3s);
      @include padding-left(1rem);
      @include padding-right(1rem);
      @include padding-top(0.75rem);
      @include padding-bottom(0.75rem);

      &:hover {
        background-color: lighten($faded-blue, 3);
      }

      svg {
        grid-area: icon;
        width: 18px;

        @include margin-right(0.75rem);

        path {
          fill: $primary;
        }
      }

      .title {
        grid-area: title;
        font-weight: bold;
      }

      .description {
        grid-area: description;
        opacity: 0.75;

        @include font-size(0.875rem);
      }
    }

    .content-type-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1px;
      background-color: $duck-egg-blue;

      .content-type-item {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $white;
        gap: 1rem;
        position: relative;
        transition: .3s ease-in-out;
        cursor: pointer;

        &:hover {
          .title::after {
            transform: translateX(0%);
          }
        }

        .title {
          font-weight: bold;
          position: relative;
          overflow: hidden;
          padding-bottom: 0.5rem;

          &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: .3s ease-in-out;
            transform: translateX(-100%);
          }
        }

        svg {
          width: 2rem;

          path {
            fill: $primary;
          }
        }
      }
    }

    .users-list {
      margin: 0 -1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include padding-top(1rem);

      .users-list-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        @include padding-top(0.5rem);
        @include padding-bottom(0.5rem);
        @include padding-left(1rem);
        @include padding-right(1rem);
        @include transition(0.3s);

        &:hover {
          background-color: $duck-egg-blue;
        }
      }
    }

    .selected-user {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      background-color: $gray-100;
      cursor: pointer;
      gap: 1rem;

      @include transition(0.3s);
      @include border-radius(1rem);
      @include padding(1rem);

      &:hover {
        background-color: $duck-egg-blue;

        .click-to-change {
          color: $primary;
        }
      }

      .username {
        color: $primary
      }

      .click-to-change {
        white-space: nowrap;
        background-color: $duck-egg-blue;

        @include font-size(0.875rem);
        @include padding(1rem);
        @include border-radius(1rem);
      }
    }
  }
}