@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.entry-vote-btn {
  margin-right: 10px;

  @media (max-width: $xxsm-break) {
    margin-right: 5px;
  }
  .btn-vote {
    @include btn-vote;
  }
}

.voting-controls {
  display: flex;
  align-items: center;

  .estimated,
  .percentage {
    white-space: nowrap;
    width: 60px;

    @media (max-width: ($sm-break - 1px)) {
      font-size: 13px;
    }
  }

  .btn-vote {
    flex-shrink: 0;
  }

  .btn-up-vote,
  .estimated,
  .slider,
  .percentage {
    margin-right: 8px;
  }

  .estimated,
  .slider,
  .percentage {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .slider {
    flex-grow: 1;
    margin-right: 0px !important;

    input[type="range"] {
      width: 100%;
    }
  }
}

.vote-modal {
  .modal-content {
    border: none;
    border-radius: 12px;
    padding: 6px;
  }
}

// Custom range input styles

.voting-controls-up,
.voting-controls-down {
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
  .btn-vote {
    @include btn-vote;
  }

  input[type="range"] {
    width: 100%;
    margin: 5.5px 0;
    background-color: $transparent;
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 9px;
    cursor: pointer;

    @include themify(day) {
      @apply bg-light-400;
    }

    @include themify(night) {
      @apply bg-gunmetal;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    margin-top: -5.5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;

    @include themify(day) {
      border: 2px solid;
      @apply border-white;
    }

    @include themify(night) {
      border: 2px solid;
      @apply border-silver;
    }
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    @include themify(day) {
      @apply bg-light-400;
    }

    @include themify(night) {
      @apply bg-gunmetal;
    }
  }

  input[type="range"]::-moz-range-track {
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 9px;
    cursor: pointer;

    @include themify(day) {
      @apply bg-light-400;
    }

    @include themify(night) {
      @apply bg-gunmetal;
    }
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;

    @include themify(day) {
      border: 2px solid;
      @apply border-white;
    }

    @include themify(night) {
      border: 2px solid;
      @apply border-silver;
    }
  }

  input[type="range"]::-ms-track {
    background: $transparent;
    border-color: $transparent;
    border-width: 6.4px 0;
    color: $transparent;
    width: 100%;
    height: 9px;
    cursor: pointer;
  }

  input[type="range"]::-ms-fill-lower {
    border: 0;
    border-radius: 40px;

    @include themify(day) {
      @apply bg-light-400;
    }

    @include themify(night) {
      @apply bg-gunmetal;
    }
  }

  input[type="range"]::-ms-fill-upper {
    border: 0;
    border-radius: 40px;

    @include themify(day) {
      @apply bg-light-400;
    }

    @include themify(night) {
      @apply bg-gunmetal;
    }
  }

  input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0px;

    @include themify(day) {
      border: 2px solid;
      @apply border-white;
    }

    @include themify(night) {
      border: 2px solid;
      @apply border-silver;
    }

    /*Needed to keep the Edge thumb centred*/
  }
}

.voting-controls-up {
  input[type="range"]::-webkit-slider-thumb {
    @apply bg-blue-dark-sky;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-blue-dark-sky;
  }

  input[type="range"]::-ms-thumb {
    @apply bg-blue-dark-sky;
  }
}

.voting-controls-down {
  input[type="range"]::-webkit-slider-thumb {
    @apply bg-red-040;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-red-040;
  }

  input[type="range"]::-ms-thumb {
    @apply bg-red-040;
  }
}

.tooltip-vote {
  position: relative;
  display: inline-block;
}

.tooltip-vote .tooltiptext {
  width: 32vw;
  @apply text-dark-200;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  left: -12px;
  top: -19px;

  @media screen and (max-width: 1700px) {
    width: 50vw;
  }
  @media screen and (max-width: 1100px) {
    width: 65vw;
  }

  @media screen and (max-width: 560px) {
    width: 93vw;
    left: auto;
    right: auto;
    top: -23px;
  }

  @media screen and (max-width: 420px) {
    width: 91vw;
  }

  @media screen and (max-width: 375px) {
    width: 90vw;
  }

  @media screen and (max-width: 320px) {
    width: 88vw;
    .percentage {
      width: 60px !important;
    }
  }

  @include themify(day) {
    box-shadow: 0px 1px 4px 1px #e7e7e7;
    @apply bg-white;
    @apply text-dark-200;
  }

  @include themify(night) {
    box-shadow: 0px 1px 4px 1px #273445;
    @apply bg-dark-200;
    @apply text-white;
  }
}

.primary-btn {
  @apply text-blue-dark-sky;
  background-color: $transparent !important;
}

.primary-btn-vote {
  @include themify(night) {
    @apply text-blue-dark-sky;
    background-color: $transparent !important;
  }

  @include themify(day) {
    @apply text-blue-dark-sky;
    @apply bg-white;
  }

  .btn-inner {
    @include themify(night) {
      @apply text-blue-dark-sky;
      background-color: $transparent !important;
    }

    @include themify(day) {
      @apply text-blue-dark-sky;
      @apply bg-white;
    }
  }

  &:hover {
    @apply bg-blue-dark-sky;
    @apply text-white;

    .btn-inner {
      @apply text-white;
      @apply bg-blue-dark-sky;
    }
  }
}

.primary-btn-done {
  @include themify(night) {
    @apply text-white;
    @apply bg-blue-dark-sky;
  }

  @include themify(day) {
    @apply text-white;
    @apply bg-blue-dark-sky;
  }
}

.secondary-btn-done {
  @include themify(night) {
    @apply text-white;
    @apply bg-red-020;
  }

  @include themify(day) {
    @apply text-white;
    @apply bg-red-020;
  }
}

.secondary-btn-vote {
  @apply text-red-020;

  @include themify(night) {
    background-color: $transparent !important;
  }

  @include themify(day) {
    @apply bg-white;
  }

  svg {
    @apply fill-red-020;
    transform: none !important;
  }

  .btn-inner {
    @apply text-red-020;

    @include themify(night) {
      background-color: $transparent !important;
    }
    @include themify(day) {
      @apply bg-white;
    }
  }

  &:hover {
    @apply bg-red-020;
    @apply text-white;

    .btn-inner {
      @apply text-white;
      @apply bg-red-020;

      svg {
        @apply fill-white;
      }
    }
  }
}

.vote-error {
  font-size: 12px;
  @apply text-red;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  p {
    margin: 0px;
  }

  @media screen and (max-width: 480px) {
    p {
      width: 90%;
      text-align: center;
      white-space: pre-wrap;
    }
  }
}

.no-rotate svg {
  transform: rotate(0deg) !important;
}

.vote-warning {
  font-size: 12px;
  @apply text-gray-600;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  p {
    margin: 0px;
  }

  @media screen and (max-width: 480px) {
    p {
      width: 90%;
      text-align: center;
      white-space: pre-wrap;
    }
  }
}

.vote-remove {
  font-size: 12px;
  color: $yellow;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  p {
    margin: 0px;
  }

  @media screen and (max-width: 480px) {
    p {
      width: 90%;
      text-align: center;
      white-space: pre-wrap;
    }
  }
}

.primary-btn-vote svg {
  transform: rotate(0deg) !important;
}

.reverse-range {
  transform: rotateY(180deg);
}

datalist {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: 421px) {
    display: none;
  }
}

.error-message {
  cursor: default;
  display: block;
  line-height: 1.6;
}

.vote-error-suggestion {
  line-height: 2.5;
  display: flex;
  justify-content: center;

  .tipping-icon {
    margin-left: 15px;
    margin-top: 8px;
  }
}
