.entry-vote-btn {
  margin-right: 10px;

  @media (max-width: $xxsm-break) {
    margin-right: 5px;
  }
  .btn-vote {
    @include btn-vote;
  }
}

.voting-controls {
  display: flex;
  align-items: center;

  .estimated,
  .percentage {
    white-space: nowrap;

    @media (max-width: $sm-break - 1px) {
      font-size: 13px;
    }
  }

  .btn-vote {
    flex-shrink: 0;
  }

  .btn-up-vote,
  .estimated,
  .slider,
  .percentage {
    margin-right: 8px;
  }

  .estimated,
  .slider,
  .percentage {
    display: flex;
    align-items: center;
  }

  .slider {
    flex-grow: 1;

    input[type="range"] {
      width: 100%;
    }
  }
}

.vote-modal {
  .modal-content {
    border: none;
    border-radius: 12px;
    padding: 6px;
  }
}

// Custom range input styles

.voting-controls-up,
.voting-controls-down {
  .btn-vote {
    @include btn-vote;
  }

  input[type="range"] {
    width: 100%;
    margin: 5.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 9px;
    cursor: pointer;

    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    margin-top: -5.5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;

    @include themify(day) {
      border: 2px solid $white;
    }

    @include themify(night) {
      border: 2px solid $silver;
    }
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }

  input[type="range"]::-moz-range-track {
    border: 0;
    border-radius: 20px;
    width: 100%;
    height: 9px;
    cursor: pointer;

    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;

    @include themify(day) {
      border: 2px solid $white;
    }

    @include themify(night) {
      border: 2px solid $silver;
    }
  }

  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.4px 0;
    color: transparent;
    width: 100%;
    height: 9px;
    cursor: pointer;
  }

  input[type="range"]::-ms-fill-lower {
    border: 0;
    border-radius: 40px;

    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }

  input[type="range"]::-ms-fill-upper {
    border: 0;
    border-radius: 40px;

    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }

  input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0px;

    @include themify(day) {
      border: 2px solid $white;
    }

    @include themify(night) {
      border: 2px solid $silver;
    }

    /*Needed to keep the Edge thumb centred*/
  }
}

.voting-controls-up {
  input[type="range"]::-webkit-slider-thumb {
    background: $dark-sky-blue;
  }

  input[type="range"]::-moz-range-thumb {
    background: $dark-sky-blue;
  }

  input[type="range"]::-ms-thumb {
    background: $dark-sky-blue;
  }
}

.voting-controls-down {
  input[type="range"]::-webkit-slider-thumb {
    background: $red4;
  }

  input[type="range"]::-moz-range-thumb {
    background: $red4;
  }

  input[type="range"]::-ms-thumb {
    background: $red4;
  }
}

.tooltip-vote {
  position: relative;
  display: inline-block;
}

.tooltip-vote .tooltiptext {
  width: 32vw;
  top: 150%;
  left: 3vw;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  box-shadow: 0px 1px 4px 1px #d8d8d8;

  @media screen and (max-width: 540px) {
    width: 90vw;
    top: 170%;
    left: 13vw;
  }
}

.primary-btn {
  color: white !important;
  background-color: #357ce6 !important;
}

.primary-btn-vote {
  color: #357ce6 !important;
  background-color: white !important;

  .btn-inner {
    color: #357ce6 !important;
    background-color: white !important;
  }

  &:hover {
    background-color: #357ce6 !important;
    color: white !important;

    .btn-inner {
      color: white !important;
      background-color: #357ce6 !important;
    }
  }
}
.secondary-btn-vote {
  color: #bf3030 !important;
  background-color: white !important;
  svg {
    width: 19px !important;
  }

  .btn-inner {
    color: #bf3030 !important;
    background-color: white !important;
  }

  &:hover {
    background-color: #bf3030 !important;
    color: white !important;

    .btn-inner {
      color: white !important;
      background-color: #bf3030 !important;
    }
  }
}

.tooltip-vote .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;

  @media screen and (max-width: 480px) {
    left: 4%;
  }
}
