/*! CSS Used from: http://localhost:3000/static/css/client.0fa6b0b9.css */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #357ce6;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #1757b8;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type="button"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

body {
  background: #fff;
  color: #535e65;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(53, 124, 230, 0.25);
}

.btn:disabled {
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #357ce6;
  border-color: #357ce6;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1b68da;
  border-color: #1a62ce;
}

.btn-primary:focus {
  color: #fff;
  background-color: #1b68da;
  border-color: #1a62ce;
  box-shadow: 0 0 0 0.2rem rgba(83, 144, 234, 0.5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #357ce6;
  border-color: #357ce6;
}

.d-block {
  display: block;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.w-100 {
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

.py-2 {
  padding-top: 0.5rem;
}

.py-2 {
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.invisible {
  visibility: hidden;
}

#root {
  min-width: 280px;
}

.flex-spacer {
  flex-grow: 1;
}

a[target="_blank"]:after {
  display: inline-block;
  opacity: 0.6;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='%23357ce6' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
}

a[target="_blank"]:hover:after {
  opacity: 1;
}

.app-content {
  padding: 0 10px;
  margin: 0 auto 30px auto;
  margin-top: 6rem;
  display: flex;
  max-width: 1600px;
}

@media (min-width: 992px) {
  .app-content {
    padding: 0 20px;
  }
}

.markdown-view {
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
}

.markdown-view::after {
  display: block;
  clear: both;
  content: "";
}

.markdown-view p {
  line-height: 150%;
  margin: 0 0 1em 0;
  text-rendering: optimizeLegibility;
}

.markdown-view img {
  max-width: 100%;
}

.markdown-view a {
  color: #357ce6;
}

.markdown-view .markdown-external-link {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #357ce6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #357ce6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d5aa0;
}

.nav-bar-sm {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.nav-bar-sm {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

@media (min-width: 768px) {
  .nav-bar-sm {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav-bar-sm {
    margin-bottom: 23px;
  }
}

.nav-bar-sm .brand {
  height: 40px;
  width: 40px;
  text-decoration: none;
  flex-shrink: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.nav-bar-sm .brand .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-bar-sm .text-menu {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.nav-bar-sm .text-menu > .menu-item {
  color: #525b63;
}

.nav-bar-sm .text-menu > .menu-item:hover {
  color: #828282;
}

.nav-bar-sm .text-menu > .menu-item:not(:first-child):before {
  content: "/";
  padding-left: 8px;
  margin-right: 8px;
  opacity: 0.4;
}

@media (min-width: 576px) {
  .nav-bar-sm .text-menu {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .nav-bar-sm .text-menu {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .nav-bar-sm .text-menu {
    font-size: 1rem;
  }
}

.nav-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 0;
  z-index: 4;
}

.nav-bar:not(.visible-sm) {
  display: none;
}

@media (min-width: 768px) {
  .sticky-container > .nav-bar:not(.navbar-sm):not(.visible-sm) {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    height: 64px;
  }
}

.nav-bar {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

.nav-bar .nav-bar-inner {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 21px;
  padding-left: 0;
}

@media (max-width: 765px) {
  .nav-bar .nav-bar-inner {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner {
    height: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .nav-bar .nav-bar-inner {
    padding: 0 20px;
  }
}

.nav-bar .nav-bar-inner {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

.nav-bar .nav-bar-inner .brand {
  height: 44px;
  width: calc(100% - 10px);
  text-decoration: none;
  margin-bottom: 20px;
  flex-shrink: 0;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner .brand {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 14px;
    width: 44px;
  }
}

@media (min-width: 992px) {
  .nav-bar .nav-bar-inner .brand {
    margin-right: 0;
    width: 190px;
  }
}

.nav-bar .nav-bar-inner .brand .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-bar .nav-bar-inner .text-menu {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item {
  color: #525b63;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item:hover {
  color: #828282;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item:not(:first-child):before {
  content: "/";
  padding-left: 8px;
  margin-right: 8px;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner .text-menu {
    margin-bottom: 0;
    margin-right: 6px;
  }
}

@media (max-width: 576px) {
  .menu-item {
    margin-top: 19px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.sticky-container {
  z-index: 2;
  position: fixed;
  height: 86px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sticky-container .nav-bar-inner {
  box-shadow: none;
}

.user-avatar {
  border-radius: 50%;
  background: #ccc;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.user-avatar.medium {
  height: 40px;
  width: 40px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon path {
  fill: #357ce6;
}

.btn {
  z-index: 1;
}

.discussion {
  margin: 10px 0 30px 0;
  position: relative;
  min-height: 200px;
}

.discussion {
  border-top: 1px solid #f5f5f5;
}

.discussion .discussion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.discussion .discussion-card .icon {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
  color: #357ce6;
  border: 2px solid #357ce6;
}

.discussion .discussion-card .icon svg {
  height: 38px;
  margin-bottom: -2px;
}

.discussion .discussion-card .label {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #357ce6;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: none;
  cursor: pointer;
}

.scroll-to-top svg {
  width: 20px;
  height: 20px;
}

.entry-page .the-entry .entry-footer .entry-info .separator,
.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  border-radius: 50%;
  height: 4px;
  margin: 0 6px;
  width: 4px;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .separator,
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
    margin: 0 10px;
  }
}

.entry-page .the-entry .entry-footer .entry-info .separator,
.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  background: #e4e6e7;
}

.entry-page {
  font-family: Georgia, -apple-system, BlinkMacSystemFont, sans-serif;
}

.entry-page .the-entry {
  margin: 0 auto 90px auto;
  width: 100%;
}

@media (min-width: 576px) {
  .entry-page .the-entry {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .entry-page .the-entry {
    padding: 0;
    max-width: 750px;
  }
}

@media (min-width: 1600px) {
  .entry-page .the-entry {
    max-width: 800px;
  }
}

.entry-page .the-entry .entry-header {
  margin-bottom: 15px;
}

.entry-page .the-entry .entry-header {
  border-bottom: 1px solid #e7e7e7;
}

.entry-page .the-entry .entry-header h1.entry-title {
  font-size: 42px;
  margin: 16px 0 22px 0;
  word-break: break-word;
}

@media (min-width: 768px) {
  .entry-page .the-entry .entry-header h1.entry-title {
    font-size: 38px;
  }
}

.entry-page .the-entry .entry-header h1.entry-title {
  color: #3c4449;
}

.entry-page .the-entry .entry-header .entry-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  height: 40px;
  line-height: 100%;
  margin-bottom: 15px;
  position: relative;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-header .entry-info {
    font-size: 18px;
  }
}

.entry-page .the-entry .entry-header .entry-info {
  color: #788187;
}

.entry-page .the-entry .entry-header .entry-info .author-avatar {
  width: 40px;
  margin-right: 6px;
}

.entry-page .the-entry .entry-header .entry-info .author-avatar .user-avatar {
  width: 40px;
  height: 40px;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 {
  margin-bottom: 4px;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 .author {
  align-items: center;
  display: inline-flex;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-name {
  font-weight: 700;
  margin-right: 2px;
  word-break: keep-all;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 .author {
  color: #3c4449;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation {
  color: #788187;
  font-size: 14px;
  font-weight: 500;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation::before {
  content: "(";
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation::after {
  content: ")";
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 {
  display: flex;
  font-size: 90%;
  flex-direction: column;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 {
    flex-direction: row;
    align-items: center;
  }

  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
    display: block;
  }
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .entry-tag .in-tag {
  margin-right: 4px;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name {
  font-weight: 500;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name {
  color: #788187;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name:hover {
  color: #357ce6;
}

@media (max-width: -1px) {
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .date {
    font-size: 90%;
  }
}

.entry-page .the-entry .entry-body {
  padding: 0 0 2em 0;
  font-size: 21px;
}

.entry-page .the-entry .entry-body::after {
  display: block;
  clear: both;
  content: "";
}

.entry-page .the-entry .entry-body {
  color: #414141;
}

.entry-page .the-entry .entry-footer {
  padding-bottom: 5px;
  font-size: 90%;
}

.entry-page .the-entry .entry-footer::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer {
    font-size: initial;
  }
}

.entry-page .the-entry .entry-footer .entry-tags {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag {
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
  margin-right: 12px;
  padding: 4px 12px;
  word-break: keep-all;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-tags .entry-tag {
    font-size: 16px;
  }
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag {
  background: #f8f8f8;
  color: #656d70;
  border: solid 1px #e7e7e7;
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag:hover {
  background: #f5f5f5;
}

.entry-page .the-entry .entry-footer .entry-info {
  color: #788187;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.entry-page .the-entry .entry-footer .entry-info::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 768px) {
  .entry-page .the-entry .entry-footer .entry-info {
    flex-direction: row;
  }
}

.entry-page .the-entry .entry-footer .entry-info {
  color: #788187;
}

.entry-page .the-entry .entry-footer .entry-info .separator:first-of-type {
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .separator:first-of-type {
    display: block;
  }
}

.entry-page .the-entry .entry-footer .entry-info .author {
  align-items: center;
  cursor: pointer;
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .author {
    display: inline-flex;
  }
}

.entry-page .the-entry .entry-footer .entry-info .author .author-name {
  font-weight: 700;
  margin-right: 2px;
}

.entry-page .the-entry .entry-footer .entry-info .author {
  color: #3c4449;
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation {
  color: #788187;
  font-weight: 500;
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation::before {
  content: "(";
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation::after {
  content: ")";
}

.entry-page .the-entry .entry-footer .entry-info .app {
  font-weight: 700;
}

.entry-page .the-entry .entry-footer .entry-info .app a {
  text-decoration: none;
  color: #788187;
}

.entry-page .the-entry .entry-footer .entry-info .app .app-name {
  font-weight: 400;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #357ce6;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #1757b8;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type="button"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

#root {
  min-width: 280px;
}

.flex-spacer {
  flex-grow: 1;
}

a[target="_blank"]:after {
  display: inline-block;
  opacity: 0.6;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='%23357ce6' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
}

a[target="_blank"]:hover:after {
  opacity: 1;
}

.app-content {
  padding: 0 10px;
  margin: 0 auto 30px auto;
  margin-top: 6rem;
  display: flex;
  max-width: 1600px;
}

@media (min-width: 992px) {
  .app-content {
    padding: 0 20px;
  }
}

.markdown-view {
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
}

.markdown-view::after {
  display: block;
  clear: both;
  content: "";
}

.markdown-view p {
  line-height: 150%;
  margin: 0 0 1em 0;
  text-rendering: optimizeLegibility;
}

.markdown-view img {
  max-width: 100%;
}

.markdown-view a {
  color: #357ce6;
}

.markdown-view .markdown-external-link {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #357ce6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #357ce6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d5aa0;
}

.nav-bar-sm {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.nav-bar-sm {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

@media (min-width: 768px) {
  .nav-bar-sm {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav-bar-sm {
    margin-bottom: 23px;
  }
}

.nav-bar-sm .brand {
  height: 40px;
  width: 40px;
  text-decoration: none;
  flex-shrink: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.nav-bar-sm .brand .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-bar-sm .text-menu {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.nav-bar-sm .text-menu > .menu-item {
  color: #525b63;
}

.nav-bar-sm .text-menu > .menu-item:hover {
  color: #828282;
}

.nav-bar-sm .text-menu > .menu-item:not(:first-child):before {
  content: "/";
  padding-left: 8px;
  margin-right: 8px;
  opacity: 0.4;
}

@media (min-width: 576px) {
  .nav-bar-sm .text-menu {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .nav-bar-sm .text-menu {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .nav-bar-sm .text-menu {
    font-size: 1rem;
  }
}

.nav-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 0;
  z-index: 4;
}

.nav-bar:not(.visible-sm) {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    height: 64px;
  }
}

.nav-bar {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

.nav-bar .nav-bar-inner {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 21px;
  padding-left: 0;
}

@media (max-width: 765px) {
  .nav-bar .nav-bar-inner {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner {
    height: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .nav-bar .nav-bar-inner {
    padding: 0 20px;
  }
}

.nav-bar .nav-bar-inner {
  background: #fcfcfc;
  box-shadow: 0 0 2px 1px #f8f8f8;
}

.nav-bar .nav-bar-inner .brand {
  height: 44px;
  width: calc(100% - 10px);
  text-decoration: none;
  margin-bottom: 20px;
  flex-shrink: 0;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner .brand {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 14px;
    width: 44px;
  }
}

@media (min-width: 992px) {
  .nav-bar .nav-bar-inner .brand {
    margin-right: 0;
    width: 190px;
  }
}

.nav-bar .nav-bar-inner .brand .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-bar .nav-bar-inner .text-menu {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item {
  color: #525b63;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item:hover {
  color: #828282;
}

.nav-bar .nav-bar-inner .text-menu > .menu-item:not(:first-child):before {
  content: "/";
  padding-left: 8px;
  margin-right: 8px;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .nav-bar .nav-bar-inner .text-menu {
    margin-bottom: 0;
    margin-right: 6px;
  }
}

@media (max-width: 576px) {
  .menu-item {
    margin-top: 19px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.sticky-container {
  z-index: 2;
  position: fixed;
  height: 86px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sticky-container .nav-bar-inner {
  box-shadow: none;
}

.user-avatar {
  border-radius: 50%;
  background: #ccc;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.user-avatar.medium {
  height: 40px;
  width: 40px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon path {
  fill: #357ce6;
}

.btn {
  z-index: 1;
}

.discussion {
  margin: 10px 0 30px 0;
  position: relative;
  min-height: 200px;
}

.discussion {
  border-top: 1px solid #f5f5f5;
}

.discussion .discussion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.discussion .discussion-card .label {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.entry-page .the-entry .entry-footer .entry-info .separator,
.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  border-radius: 50%;
  height: 4px;
  margin: 0 6px;
  width: 4px;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .separator,
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
    margin: 0 10px;
  }
}

.entry-page .the-entry .entry-footer .entry-info .separator,
.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  background: #e4e6e7;
}

.entry-page {
  font-family: Georgia, -apple-system, BlinkMacSystemFont, sans-serif;
}

.entry-page .the-entry {
  margin: 0 auto 90px auto;
  width: 100%;
}

@media (min-width: 576px) {
  .entry-page .the-entry {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .entry-page .the-entry {
    padding: 0;
    max-width: 750px;
  }
}

@media (min-width: 1600px) {
  .entry-page .the-entry {
    max-width: 800px;
  }
}

.entry-page .the-entry .entry-header {
  margin-bottom: 15px;
}

.entry-page .the-entry .entry-header {
  border-bottom: 1px solid #e7e7e7;
}

.entry-page .the-entry .entry-header h1.entry-title {
  font-size: 42px;
  margin: 16px 0 22px 0;
  word-break: break-word;
}

@media (min-width: 768px) {
  .entry-page .the-entry .entry-header h1.entry-title {
    font-size: 38px;
  }
}

.entry-page .the-entry .entry-header h1.entry-title {
  color: #3c4449;
}

.entry-page .the-entry .entry-header .entry-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  height: 40px;
  line-height: 100%;
  margin-bottom: 15px;
  position: relative;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-header .entry-info {
    font-size: 18px;
  }
}

.entry-page .the-entry .entry-header .entry-info {
  color: #788187;
}

.entry-page .the-entry .entry-header .entry-info .author-avatar {
  width: 40px;
  margin-right: 6px;
}

.entry-page .the-entry .entry-header .entry-info .author-avatar .user-avatar {
  width: 40px;
  height: 40px;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 {
  margin-bottom: 4px;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 .author {
  align-items: center;
  display: inline-flex;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-name {
  font-weight: 700;
  margin-right: 2px;
  word-break: keep-all;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-1 .author {
  color: #3c4449;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation {
  color: #788187;
  font-size: 14px;
  font-weight: 500;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation::before {
  content: "(";
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-1
  .author
  .author-reputation::after {
  content: ")";
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 {
  display: flex;
  font-size: 90%;
  flex-direction: column;
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 {
    flex-direction: row;
    align-items: center;
  }

  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .separator {
    display: block;
  }
}

.entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .entry-tag .in-tag {
  margin-right: 4px;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name {
  font-weight: 500;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name {
  color: #788187;
}

.entry-page
  .the-entry
  .entry-header
  .entry-info
  .entry-info-inner
  .info-line-2
  .entry-tag
  .tag-name:hover {
  color: #357ce6;
}

@media (max-width: -1px) {
  .entry-page .the-entry .entry-header .entry-info .entry-info-inner .info-line-2 .date {
    font-size: 90%;
  }
}

.entry-page .the-entry .entry-body {
  padding: 0 0 2em 0;
  font-size: 21px;
}

.entry-page .the-entry .entry-body::after {
  display: block;
  clear: both;
  content: "";
}

.entry-page .the-entry .entry-body {
  color: #414141;
}

.entry-page .the-entry .entry-footer {
  padding-bottom: 5px;
  font-size: 90%;
}

.entry-page .the-entry .entry-footer::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer {
    font-size: initial;
  }
}

.entry-page .the-entry .entry-footer .entry-tags {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag {
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
  margin-right: 12px;
  padding: 4px 12px;
  word-break: keep-all;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-tags .entry-tag {
    font-size: 16px;
  }
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag {
  background: #f8f8f8;
  color: #656d70;
  border: solid 1px #e7e7e7;
}

.entry-page .the-entry .entry-footer .entry-tags .entry-tag:hover {
  background: #f5f5f5;
}

.entry-page .the-entry .entry-footer .entry-info {
  color: #788187;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.entry-page .the-entry .entry-footer .entry-info::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 768px) {
  .entry-page .the-entry .entry-footer .entry-info {
    flex-direction: row;
  }
}

.entry-page .the-entry .entry-footer .entry-info {
  color: #788187;
}

.entry-page .the-entry .entry-footer .entry-info .separator:first-of-type {
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .separator:first-of-type {
    display: block;
  }
}

.entry-page .the-entry .entry-footer .entry-info .author {
  align-items: center;
  cursor: pointer;
  display: none;
}

@media (min-width: 576px) {
  .entry-page .the-entry .entry-footer .entry-info .author {
    display: inline-flex;
  }
}

.entry-page .the-entry .entry-footer .entry-info .author .author-name {
  font-weight: 700;
  margin-right: 2px;
}

.entry-page .the-entry .entry-footer .entry-info .author {
  color: #3c4449;
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation {
  color: #788187;
  font-weight: 500;
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation::before {
  content: "(";
}

.entry-page .the-entry .entry-footer .entry-info .author .author-reputation::after {
  content: ")";
}

.entry-page .the-entry .entry-footer .entry-info .app {
  font-weight: 700;
}

.entry-page .the-entry .entry-footer .entry-info .app a {
  text-decoration: none;
  color: #788187;
}

.entry-page .the-entry .entry-footer .entry-info .app .app-name {
  font-weight: 400;
}

.view-full-version {
  bottom: 24px;
}
