.entry-tip-btn {
  margin-top: -1px;

  .inner-btn {
    cursor: pointer;
    align-items: center;
    color: $dark-sky-blue;
    display: flex;

    svg {
      height: 16px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}
