@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.download-dialog-content {
  padding: 20px;


  .downloads-title {
    @apply text-blue-dark-sky;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
  }

  .downloads-text {
    @apply text-gray-steel;
    font-weight: 300;
    margin-bottom: 22px;
    text-align: center;
  }

  .download-buttons {
    display: flex;
    justify-content: center;
    padding: 0 10px;

    @media (min-width: $md-break) {
      padding: 0;
    }

    .download-button {
      border-radius: 32px;
      color: #fff;
      display: block;
      line-height: 100%;
      padding: 20px 0;
      text-align: center;
      width: 120px;

      @media (min-width: $md-break) {
        width: 140px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.btn-desktop {
        @apply bg-blue-dark-sky;
      }

      &.btn-ios {
        background: #A7ADAF;
      }

      &.btn-android {
        background: #ADC548;
      }
    }

  }
}
