@import "src/style/vars_mixins";

.schedules-modal {
  .modal-body {
    .dialog-content {
      min-height: 590px;

      .dialog-filter {
        height: 70px;
      }

      .schedules-list {
        height: 520px;
        overflow: auto;

        .schedules-list-body {
          .schedules-list-item {
            @include entry-list-item;
            margin: 0;
            padding: 0 0 16px 0 !important;

            &:not(:last-child) {
              margin: 0 0 20px 0;
            }

            .item-body {
              .item-image {
                cursor: default;
              }

              .item-summary {
                .item-title, .item-body {
                  cursor: default;
                }
              }
            }

            .item-controls {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .btn-controls {
                .btn-move {
                  margin-right: 20px;
                }

                .btn-delete {
                  margin-right: 10px;
                }

                .btn-move, .btn-delete {
                  cursor: pointer;

                  svg {
                    height: 18px !important;
                  }

                  @include themify(day) {
                    @apply text-silver;
                  }

                  @include themify(night) {
                    @apply text-gunmetal;
                  }

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }

              .post-status {
                display: flex;
                align-items: center;

                svg {
                  margin-right: 4px;
                }

                @include themify(day) {
                  @apply text-gray-steel-light-005;
                }

                @include themify(night) {
                  @apply text-blue-metallic;
                }

                &.status-postponed {
                  color: $orange !important;
                }

                &.status-published {
                  @apply text-green;
                }

                &.status-error {
                  @apply text-red-020;
                }
              }
            }

            .message-error, .message-warning {
              font-size: 90%;
            }

            .message-error {
              @apply text-red-020;
            }

            .message-warning {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

.no-img {
  width: 45px;
}