@keyframes anim-fadein-out {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes anim-fadein {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

