@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-width: 320px;

  &.full-height {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.btn svg {
  width: 20px;
}

/* custom select appearance */
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23777777' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px 35px;
  background-position: 96%;
  padding-right: 30px !important;
}

/* common class for modal dialog loading indicator */
.dialog-loading {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utility classes */
.flex-spacer {
  flex-grow: 1;
}

.hr-6px-btn-spacer {
  width: 6px;
  flex-grow: 0;
}

a[target="_blank"] {
  &:after {
    display: inline-block;
    opacity: 0.6;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='%23357ce6' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.app-content {
  padding: 0 10px;
  margin: 0 auto 30px auto;
  display: flex;
  max-width: 1600px;

  @media (min-width: $lg-break) {
    padding: 0 20px;
  }
}

@import "markdown";
