$steel-grey: #788187;
$light-grey: #A6ACAF;
$warm-grey: #828282;
$charcoal-grey: #3c4449;
$light-black: #535e65;
$tundora: #414141;
$silver: #c1c5c7;
$red: #ff0000;
$red2: #bf3030;
$red3: #e63535;
$red4: #ec3323;
$pink: #FF6E87;
$white: #ffffff;
$white-two: #fcfcfc;
$white-three: #f5f5f5;
$white-four: #e7e7e7;
$dusk-blue: #2d5aa0;
$dark-sky-blue: #357ce6;
$light-powder-blue: #E5EFFC;
$powder-blue: #c4dcff;
$faded-blue: #e8f0fb;
$metallic-blue: #526d91;
$dark-grey-blue: #2e3d51;
$dark-grey: #A6ACAF;
$white-five: #eeeeee;
$white-six: #f8f8f8;
$dark-indigo: #081c36;
$dusky-blue: #43638e;
$pinkish-grey: #cecece;
$pastel-blue: #96c0ff;
$dark: #273445;
$dusky-blue-two: #42628d;
$gunmetal: #525b63;
$dark-two: #161d26;
$dark-three: #202020;
$dark-seven: #131111;
$dark-six: #202834;
$green1: #69bb85;
$green2: lightgreen;
$green3: #a1c982;
$transparent: transparent;
$hs-color: #E31337;
$kc-color: $dark-three;
