$science-blue: #004bd8;
$light-periwinkle: #c2d4f5;
$duck-egg-blue: #eaf2fc;
$steel-grey: #788187;
$light-grey: #A6ACAF;
$warm-grey: #828282;
$charcoal-grey: #3c4449;
$tundora: #414141;
$silver: #c1c5c7;
$red: #ff0000;
$red2: #bf3030;
$red3: #e63535;
$red4: #ec3323;
$pink: #FF6E87;
$white: #ffffff;
$white-two: #fcfcfc;
$white-three: #f5f5f5;
$gray-100: #f8f9fa;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$white-four: #e7e7e7;
$dusk-blue: #2d5aa0;
$dark-sky-blue: #357ce6;
$light-powder-blue: #E5EFFC;
$powder-blue: #c4dcff;
$faded-blue: #e8f0fb;
$metallic-blue: #526d91;
$dark-grey-blue: #2e3d51;
$dark-grey: #A6ACAF;
$white-five: #eeeeee;
$white-six: #f8f8f8;
$dark-indigo: #081c36;
$dusky-blue: #43638e;
$pinkish-grey: #cecece;
$pastel-blue: #96c0ff;
$dark: #273445;
$dusky-blue-two: #42628d;
$gunmetal: #525b63;
$dark-two: #161d26;
$dark-three: #202020;
$dark-six: #202834;
$green: #28a745;
$green1: #69bb85;
$green2: lightgreen;
$green3: #a1c982;
$transparent: transparent;
$dusk-background: #FFF89A;
$dusk-primary: #FFC900;
$sky-background: #398AB9;
$sky-primary: #1C658C;
$burning-background: #8b0000;
$burning-primary: #F90716;