@font-face {
    font-family: 'charter';
    src: url('charter_regular-webfont.eot');
    src: url('charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
