$xxsm-break: 300px;
$xsm-break: 320px;
$xs-break: map-get($grid-breakpoints, "xs");
$sm-break: map-get($grid-breakpoints, "sm");
$md-break: map-get($grid-breakpoints, "md");
$lg-break: map-get($grid-breakpoints, "lg");
$xl-break: map-get($grid-breakpoints, "xl");
$xxl-break: "1440px";
$xxxl-break: "1600px";

$box-shadow-alt: 0 .1rem 1rem rgba($black, .10);
