@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors";
@import "./variables";
@import "./mixins";

@import "./bootstrap_vars";
@import "./bootstrap_imports";
@import "./bootstrap_ext";

@import "./base";
@import "./components";

@import "./bootstrap/scss/utilities";

@import "./theme-day";
@import "./theme-night";