@tailwind base;
@tailwind components;

@layer utilities {
  .w-full-dynamic {
    width: 100vw;
    @media screen and (max-width: 768px) {
      width: 100vw;
      width: 100dvw;
    }
  }

  .h-full-dynamic {
    min-height: 100vh;
    max-height: 100vh;

    @media screen and (max-width: 768px) {
      min-height: 100vh;
      max-height: 100vh;
      max-height: 100dvh;
      min-height: 100dvh;
    }
  }
}

@import "./variables";
@import "./mixins";

@import "./bootstrap_vars";

@import "./base";
@import "./components";

@import "./theme-day";
@import "./theme-night";

@tailwind utilities;
