.theme-day {
  --input-bg: #{$white-three};
  --input-border-color: #{$white-four};
  --input-color: #{$charcoal-grey};
  --input-placeholder-color: #{$silver};
  --input-group-addon-color: darken(#{$silver, 12});
  --popover-border-color: #{$white-three};
  --popover-bg: #{$white};
  --popover-body-color: #{$gunmetal};
  --popover-header-bg: darken(#{$white-three, 5%});
  --popover-arrow-color: #{$white-three};
  --modal-content-bg: #{$white};
  --modal-content-border-color: #{$white-three};
  --list-group-bg: #{$list-group-bg-d};
  --list-group-border-color: #{$list-group-border-color-d};
  --list-group-action-color: #{$list-group-action-color-d};
  --list-group-hover-bg: #{$list-group-hover-bg-d};
  --list-group-action-active-bg: #{$list-group-action-active-bg-d};
  --table-accent-bg: #{$white-three};
  --close-color: null default;
  --table-color: #{darken($steel-grey, 10)};
  --table-border-color: #{$white-three};
  --pagination-bg: #{$white};
  --pagination-border-color: #{$white-four};
  --pagination-hover-bg: #{$white-three};
  --pagination-hover-border-color: #{$white-four};
  --card-border-color: #{$white-three};
  --card-cap-bg: #{$white-two};
  --border-color: #{$border-color-d};

  background: $white;
  color: lighten($charcoal-grey, 10);
}