.theme-night {
  --input-bg: #{lighten($powder-blue, 2)};
  --input-border-color: #{$dusk-blue};
  --input-color: #{$dark-two};
  --input-placeholder-color: #{$steel-grey};
  --input-group-addon-color: #{darken($silver, 12)};
  --popover-border-color: #{$dark-two};
  --popover-bg: #{lighten($dark-six, 6)};
  --popover-body-color: #{$silver};
  --popover-header-bg: #{darken(lighten($dark-six, 2), 5)};
  --popover-arrow-color: #{lighten($dark-six, 2)};
  --modal-content-bg: #{lighten($dark-six, 2)};
  --modal-content-border-color: #{$dark-two};
  --list-group-bg: #{lighten($dark-six, 3)};
  --list-group-border-color: #{lighten($dark-six, 1)};
  --list-group-action-color: #{#fff};
  --list-group-hover-bg: #{lighten($dark-six, 5)};
  --list-group-action-active-bg: #{lighten($dark-six, 6)};
  --table-accent-bg: #{$dark-six};
  --close-color: #{$silver};
  --table-color: #{$silver};
  --table-border-color: #{#{lighten($dark-six, 10)}};
  --pagination-bg: #{lighten($dark-six, 10)};
  --pagination-border-color: #{$dark-six};
  --pagination-hover-bg: #{$dark-six};
  --pagination-hover-border-color: #{transparent};
  --card-border-color: #{$dark-two};
  --card-cap-bg: #{$dark-two};
  --border-color: #{lighten($dark-six, 1)};

  background: $dark-seven;
  color: $white-two;
}