@import "colors";

$font-family-base: -apple-system, BlinkMacSystemFont, sans-serif;

$primary: $dark-sky-blue;
$success: $green1;
$danger: $red2;

$link-hover-decoration: none;
$line-height-base: 1.2;

$input-border-radius: 25px;
$input-bg: $white-three;
$input-border-color: $white-four;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-color: $charcoal-grey;
$input-placeholder-color: $silver;

$input-group-addon-color: darken($silver, 12);

$btn-border-radius: 25px;
$btn-border-radius-sm: 25px;

$popover-border-color: $white-three;
$popover-bg: $white;
$popover-body-color: $gunmetal;
$popover-header-bg: $white-three;
$popover-arrow-color: $white-three;

$modal-content-bg: $white;
$modal-header-border-color: null default;
$modal-content-border-color: $white-three;

$table-accent-bg: $white-three;

$close-color: null default;

$table-color: darken($steel-grey, 10);
$table-border-color: $white-three;

$pagination-bg: $white;
$pagination-border-color: $white-four;
$pagination-hover-bg: $white-three;
$pagination-hover-border-color: $white-four;

$alert-padding-y: 0.6rem;
$alert-padding-x: 0.6rem;

$card-border-color: $white-three;
$card-cap-bg: $white-two;
$card-bg: transparent;

$form-check-input-margin-y: 0.15rem;

$tooltip-max-width: 380px;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/transitions";

.theme-day {
  @import "bootstrap/scss/alert";
  @import "bootstrap/scss/buttons";
  @import "bootstrap/scss/forms";
  @import "bootstrap/scss/custom-forms";
  @import "bootstrap/scss/input-group";
  @import "bootstrap/scss/close";
  @import "bootstrap/scss/modal";
  @import "bootstrap/scss/popover";
  @import "bootstrap/scss/tables";
  @import "bootstrap/scss/spinners";
  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/utilities";
  @import "bootstrap/scss/grid";
  @import "bootstrap/scss/nav";
  @import "bootstrap/scss/progress";
  @import "bootstrap/scss/card";
  @import "bootstrap/scss/tooltip";

  background: $white;
  color: lighten($charcoal-grey, 10);
}

@import "bootstrap";
@import "base";
@import "components";
