@import 'colors';

$font-family-base: 'IBM Plex Sans', sans-serif;

$primary: $dark-sky-blue;

$link-hover-decoration: none;
$line-height-base: 1.2;

$input-border-radius: 25px;
$input-bg: $white-three;
$input-border-color: $white-four;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-color: $charcoal-grey;

$popover-border-color: $white-three;
$popover-bg: $white;
$popover-body-color: $gunmetal;

$modal-content-bg: $white;
$modal-header-border-color: null default;
$modal-content-border-color: $white-three;

$table-accent-bg: $white-three;

$close-color: null default;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/transitions';

.theme-day {
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/input-group';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/close';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/utilities';

  background: $white;
  color: lighten($charcoal-grey, 10);
}

@import 'bootstrap';
@import 'base';
@import 'components';
