@import 'colors';

$font-family-base: 'IBM Plex Sans', sans-serif;

$primary: $dusk-blue;

$link-hover-decoration: none;
$line-height-base: 1.2;

$input-border-radius: 25px;

$input-bg: lighten($powder-blue, 2);
$input-border-color: $dusk-blue;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-color: $dark-two;

$popover-border-color: $dark-two;
$popover-bg: lighten($dark-six, 2);
$popover-body-color: $silver;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/transitions';


.theme-night {
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/input-group';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/popover';

  background: $dark-six;
  color: $silver;
}

@import 'base';
@import 'components';
