@import "src/style/vars_mixins";

.manage-chat-key {
  .private-key {
    margin-top: 2.5rem;
    margin-left: 14px;
    margin-right: 7px;

    .expand-icon {
      margin: 13px 15px 0 0;
      .expand-svg {
        height: 35px;
        width: 35px;
        background: #e4e6eb;
        margin-left: 10px;
        border-radius: 10px;
        cursor: pointer;

        svg {
          width: 35px;
          height: 35px;
        }

        &:hover {
          background: #ecf3ff;
        }
      }
    }
  }
  .chat-priv-key {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .copy-svg {
    margin-top: 3px;
    margin-left: 2px;
    cursor: pointer;

    svg {
      @include themify(day) {
        color: #a1a1a1;
      }
      @include themify(night) {
        @apply text-light-200;
      }
    }
  }
}
