.entry-reblog-btn {
  align-items: center;
  color: $steel-grey;
  display: flex;
  cursor: pointer;

  @include themify(night) {
    font-weight: 500;
  }

  svg {
    height: 16px;
    opacity: 0.5;
    margin-top: 2px;
  }

  .inner-btn {
    align-items: center;
    color: $steel-grey;
    display: flex;
  }

  &:hover {
    .inner-btn {
      color: $dark-sky-blue;
    }
  }
}
