.entry-reblog-btn {
  align-items: center;
  color: $steel-grey;
  display: flex;
  cursor: pointer;

  @include themify(night) {
    font-weight: 500;
  }

  svg {
    height: 16px;
    opacity: 0.8;
    margin-top: 2px;
  }

  .inner-btn {
    align-items: center;
    color: $steel-grey;
    display: flex;
  }

  &:hover,
  &.reblogged {
    .inner-btn {
      color: $dark-sky-blue;
    }
  }

  &.reblogged {

    &:hover {
      .inner-btn {
        color: $red2;
      }
    }

    svg {
      opacity: 1;
    }
  }

  &.in-progress {
    .inner-btn {
      animation: anim-fadein-out 5s infinite;
    }

    pointer-events: none;

    svg {
      opacity: 1;
    }
  }
}
