@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.entry-reblog-btn {
  align-items: center;
  @apply text-gray-steel;
  display: flex;
  cursor: pointer;

  @include themify(night) {
    font-weight: 500;
  }

  svg {
    height: 16px;
    opacity: 0.8;
    margin-top: 2px;
  }

  .inner-btn {
    align-items: center;
    @apply text-gray-steel;
    display: flex;
  }

  &:hover,
  &.reblogged {
    .inner-btn {
      color: $dark-sky-blue;
    }
  }

  &.reblogged {

    &:hover {
      .inner-btn {
        @apply text-red-020;
      }
    }

    svg {
      opacity: 1;
    }
  }

  &.in-progress {
    .inner-btn {
      animation: anim-fadein-out 5s infinite;
    }

    pointer-events: none;

    svg {
      opacity: 1;
    }
  }
}
