@import "src/style/bootstrap_vars";
@import "src/style/colors";
@import "src/style/variables";
@import "src/style/mixins";
@import "src/common/components/deck";
@import "src/common/components/deck-view";
@import "src/common/components/deck-add-modal";

.loading-hive {
    width: 100%;
    height: 300px;
}

.active {
    z-index: 1;
}

tbody {
    @media (max-width: $sm-break) {
        font-size: 11px;
    }
}

thead, .pagination {
    @media (max-width: $sm-break) {
        font-size: 12px;
    }
}

.w-sm-75 {
    width: 100%;
    @media (min-width: $sm-break) {
        width: 75%;
    }
}

.mode-selector {
    max-width: 600px;

    &.equal-widths {
        .btn-primary {
            width: 33%;
        }
    }
}

.market-page {
    height: 100vh;
    overflow-y: auto;

    &.SWAP {
        position: relative;

        @include themify(day) {
            background-color: $duck-egg-blue;
        }

        .list-group {
            border-radius: 1rem;
        }

        .auth-required {
            position: absolute;
            top: 0;
            left: 1rem;
            width: calc(100% - 2rem);
            height: 100%;
            border-radius: 1rem;
            padding: 1rem;
            z-index: 9;

            @include themify(day) {
                background-color: rgba(255, 255, 255, 0.7);
            }

            @include themify(night) {
                background-color: rgba(19, 17, 17, 0.7);
            }
        }
    }

    &.ADVANCED {
        .advanced-mode {
            overflow-x: hidden;
            margin-top: -2.5rem;

            @include media-breakpoint-down(sm) {
                margin-top: -2rem;
            }
        }

        .advanced-mode-toolbar {
            align-items: center;
            position: relative;
            z-index: 9;

            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
            }

            @include media-breakpoint-down(lg) {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            @include media-breakpoint-down(xs) {
                padding-top: 0;
                padding-bottom: 0;
            }

            .trading-pair {
                font-size: 1rem;

                @include media-breakpoint-down(md) {
                    border-right: 0 !important;
                }
            }

            .amount {
                font-size: 1.25rem;
                font-weight: 500;
            }

            .usd-value {
                font-size: 0.875rem;
                font-weight: 500;
            }

            .change-price {
                label {
                    font-size: 0.75rem;
                    font-weight: 500;
                    opacity: 0.75;
                    color: $secondary;
                    margin-bottom: 0.32rem;
                }

                div {
                    font-size: 0.875rem;
                    font-weight: 500;
                }
            }

            .pair-info {
                display: flex;
                gap: 1rem;

                @include media-breakpoint-down(sm) {
                    border-left: 0 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    gap: 0.5rem;

                    .change-price label, & {
                        font-size: 0.75rem;
                    }
                }

                @include media-breakpoint-down(xs) {
                    flex-wrap: wrap;
                    padding-bottom: 1rem;
                }
            }
        }

        .history-widget-content {
            padding-top: 0.5rem;
            padding-left: 0.69rem;

            .history-widget-row {
                cursor: pointer;
                padding: 0.15rem 0;
                display: grid;
                gap: 1rem;
                font-size: 0.75rem;
                font-weight: 500;
                grid-template-columns: 1fr 1fr 1fr;

                &.selectable:hover {
                    opacity: 0.5;
                }

                &.history-widget-header {
                    padding: 0.5rem 0;
                    font-weight: 400;
                    font-size: 0.75rem;
                }
            }
        }

        .market-stake-widget {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(100% - 39px - 55px);

            &.one-type {
                justify-content: flex-start;

                .market-stake-widget-sell, .market-stake-widget-buy {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                height: auto;

                .history-widget-row {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        .market-stake-widget-sell, .market-stake-widget-buy {
            overflow-y: auto;

            .history-widget-row {
                position: relative;

                .history-widget-row-progress {
                    position: absolute;
                    width: 100%;
                    opacity: 0.15;
                    height: 19.2px;
                }

                &.sell .history-widget-row-progress {
                    right: 0;
                    background-color: $danger;
                }

                &.buy .history-widget-row-progress {
                    right: 0;
                    background-color: $success;
                }

                &.selectable:hover {
                    opacity: 1;
                }

                &.selectable > .price:hover, &.selectable > .amount:hover {
                    opacity: .5;
                }

                .price, .amount {
                    position: relative;
                }
            }
        }

        .stake-widget-header-options {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 12px;
            gap: 0.25rem;

            .stake-widget-header-view-type {
                display: flex;
            }

            .btn {
                padding: 0 4px;
                opacity: .5;

                &.active {
                    opacity: 1;
                }
            }

            select {
                width: auto;
            }
        }

        .market-advanced-mode-widget {
            background: $white;
            height: 100%;
            margin: -1px;

            @include themify(night) {

                background-color: $dark-two;
            }

            .custom-dropdown .label {
                font-size: 14px;
            }
        }

        .market-advanced-mode-widget-settings {
            background-color: $white-three;

            @include themify(night) {
                background: $dark;
            }
        }

        .market-advanced-mode-trading-form-widget {
            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            @include media-breakpoint-down(md) {
                flex-direction: row;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        .market-advanced-mode-trading-form-login-required-widget {
            height: 334px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .market-advanced-mode-tv-widget {
            .market-advanced-mode-trading-view-widget {
                height: calc(100% - 44px);
            }

            &.expanded-header {
                .market-advanced-mode-trading-view-widget {
                    height: calc(100% - 104px);
                }
            }
        }

        .widget-layout-builder {
            .market-advanced-mode-history-widget {
                @include media-breakpoint-down(md) {
                    .history-widget-content {
                        margin-bottom: 40px;
                    }
                }

                .history-widget-content {
                    height: calc(100% - 31px - 45px);
                    min-height: 400px;
                }
            }
        }

        .market-advanced-mode-oo-widget {
            font-size: 0.875rem;
        }

        .market-advanced-mode-oo-content {
            height: calc(100% - 44px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        .market-advanced-mode-oo-widget-tabs {
            display: flex;
            gap: 1rem;

            .market-advanced-mode-oo-widget-tab {
                margin: -0.75rem 0;
                padding: 0 0.5rem;
                border-bottom: 2px solid transparent;
                display: flex;
                align-items: center;
                height: 43px;
                font-size: 0.875rem;

                &.active {
                    font-weight: 500;
                    color: $primary;
                    border-bottom-color: $primary;
                }
            }
        }

        .market-stake-widget-current-price {
            font-weight: 500;
            display: flex;
            align-items: center;
            padding-left: 0.5rem;

            .price {
                font-size: 1.25rem;
            }

            .usd-price {
                margin-left: 1rem;
                font-size: 0.75rem;
                opacity: .75;
            }
        }
    }
}
