.list-style-toggle {
  cursor: pointer;
  padding: 2px;

  svg {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $sm-break) {
    display: block;
  }

  @include themify(day) {
    color: $light-periwinkle;
  }

  @include themify(night) {
    color: $metallic-blue;
  }

  &.toggled {
    border-radius: 5px;
    @include themify(day) {
      background: lighten($light-periwinkle, 10);
    }

    @include themify(night) {
      background: darken($metallic-blue, 10);
    }
  }
}
