@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.login-modal {
  overflow-y: scroll !important;
  .modal-body {
    width: 100%;
    max-width: 390px;
    margin: auto;

    .dialog-header {
      text-align: center;
      margin-bottom: 20px;

      img {
        height: 80px;
        margin-bottom: 16px;
      }

      h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
      }
    }

    p {
      color: $steel-grey;
      text-align: center;
    }

    .user-list {
      position: relative;
      min-height: 100px;
      max-height: 216px;
      overflow-y: auto;

      .user-list-header {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 14px;
        text-align: center;

        @include themify(day) {
          color: $steel-grey;
        }

        @include themify(night) {
          color: $metallic-blue;
        }
      }

      .user-list-body {
        .user-list-item {
          align-items: center;
          border-radius: 25px;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          line-height: 16px;
          padding: 6px;
          position: relative;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          @include themify(day) {
            color: $dark-sky-blue;
            @apply bg-blue-duck-egg;
          }

          @include themify(night) {
            background: $metallic-blue;
            @apply text-blue-powder;
          }

          &:hover {
            @include themify(day) {
              background: lighten($dark-sky-blue, 30);
            }

            @include themify(night) {
              background: darken($metallic-blue, 16);
            }
          }

          .user-avatar {
            margin-right: 10px;
          }

          .username {
            font-weight: 500;
          }

          .space {
            flex-grow: 1;
          }

          .check-mark {
            background: $dark-sky-blue;
            border-radius: 50%;
            height: 5px;
            left: -14px;
            position: absolute;
            top: calc(50% - 2.5px);
            width: 5px;
          }

          .btn-delete {
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            height: 24px;
            justify-content: center;
            width: 24px;

            svg {
              @apply text-white;
              height: 16px;
            }

            &:hover {
              svg {
                color: lighten($red2, 10);
              }
            }

            @include themify(day) {
              @apply bg-blue-duck-egg-200;

              &:hover {
                @apply bg-blue-duck-egg;
              }
            }

            @include themify(night) {
              background: darken($metallic-blue, 3);

              &:hover {
                background: $metallic-blue;
              }
            }
          }

          &:hover {
            .btn-delete {
              display: flex;
            }
          }

          &.disabled {
            opacity: 0.6;
            pointer-events: none;
          }
        }
      }
    }

    .login-form {
      margin: auto;

      .login-form-text {
        font-size: 14px;
      }
    }

    .hs-login, .kc-login {
      margin: 0 auto 16px auto;
      display: flex;
      justify-content: center;

      .hs-logo, .kc-logo {
        height: 14px;
        margin-right: 6px;
      }
    }

    .kc-login {
      .kc-logo {
        height: 16px;
      }
    }
  }
}          
.google-recaptcha{
  margin: 16px 0px;
}