@import "src/style/vars_mixins";

.updater {
  border-top: 3px solid;
  @apply border-blue-dark-sky;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0;
  height: 90px;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  box-shadow: $box-shadow;
  width: 500px;
  z-index: 6000;

  @include themify(day) {
    @apply bg-light-periwinkle;
  }

  @include themify(night) {
    @apply bg-dark-600-010-light;
  }

  .info-text {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;

    .release-name {
      font-weight: 400;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }

  .progress {
    margin: auto;
    width: 300px;
  }

  .btn-download {
  }

  .btn-restart {
    display: none;
  }
}
