.community-role-edit-dialog-content {
  .user-role-form {
    padding-top: 10px;
  }

  .explanations {
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    p {
      font-size: 96%;

      strong {
        font-weight: 500;
      }
    }
  }
}
