.comment-box {
  margin: 10px 0 15px 0;

  .editor-toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .comment-body {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 4px;

    @include themify(day) {
      background: $white-two;
    }

    @include themify(night) {
      background: lighten($dark-two, 6);
    }

    .form-control {
      background: transparent;
      border: none;
      resize: none;
      line-height: 1.5;
      border-radius: 0 0;
      min-height: 60px;
      padding: 4px;
      transition: height .3s;

      @include themify(night) {
        color: $silver;
      }
    }
  }

  .comment-buttons {
    display: flex;
    justify-content: flex-end;

    .btn-cancel {
      margin-right: 6px;
    }
  }

  .comment-preview {
    margin-top: 20px;

    .comment-preview-header {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 3px;
    }
  }
}
