@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.skeleton {
  animation: anim-fadein-out 2s infinite;
  border-radius: 0.25rem;

  @include themify(night) {
    background-color: $dark;
  }

  @include themify(day) {
    @apply bg-light-light-405;
  }
}