@import "../../../../style/vars_mixins";

.chats-messages-box {
  margin-top: 10px;

  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(1, 1fr);

  @include themify(day) {
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  }

  @include themify(night) {
    box-shadow: 0px -5px 5px $charcoal-grey;
  }
  width: 60vw;

  .no-chat-select {
    height: calc(100vh - 70px);
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    .start-chat {
      @include themify(day) {
        color: #65676b;
      }
      @include themify(night) {
        color: $white;
      }
    }
    .info-message {
      font-size: 16px;
      // font-weight: 100;
    }
  }
}
