@import "src/style/vars_mixins";

.nav-bar-toggle {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 100000;

  svg {
    height: 30px;

    @include themify(day) {
      @apply text-gray-steel;
    }

    @include themify(night) {
      @apply text-blue-duck-egg;
      opacity: 0.8;
    }
  }

  @media (min-width: $md-break) {
    display: none;
  }
}

.nav-bar-sm {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  @include themify(day) {
    @apply bg-light-200;
    box-shadow: 0 0 2px 1px #f8f8f8;
  }

  @include themify(night) {
    @apply bg-dark-200;
  }

  @media (min-width: $md-break) {
    display: none;
  }
  @media (max-width: $sm-break) {
    margin-bottom: 23px;
  }

  .brand {
    height: 40px;
    width: 40px;
    text-decoration: none;
    flex-shrink: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;

    .logo {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .text-menu {
    @include nav-text-menu;
    margin-left: 10px;

    @media (min-width: $sm-break) {
      margin-left: 0;
    }
    @media (max-width: $sm-break) {
      font-size: 1rem;
    }
    @media (max-width: $xsm-break) {
      font-size: 1rem;
    }
  }
}


.nav-bar {
  user-select: none;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 0;
  z-index: 4;
  &:not(.visible-sm) {
    display: none;
  }

  @media (min-width: $md-break) {
    display: block !important;
    padding: 0;
    margin-bottom: 30px;
    height: 64px;
  }

  @include themify(day) {
    @apply bg-light-200;
    box-shadow: 0 0 2px 1px #f8f8f8;
  }

  @include themify(night) {
    @apply bg-dark-200;
  }

  .nav-bar-inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 21px;
    padding-left: 0px;

    @media (max-width: 765px){
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media (min-width: $md-break) {
      height: 100%;
      padding: 0 10px;
      flex-direction: row;
    }

    @media (min-width: $lg-break) {
      padding: 0 20px;
    }

    @include themify(day) {
      @apply bg-light-200;
      box-shadow: 0 0 2px 1px #f8f8f8;
    }
  
    @include themify(night) {
      @apply bg-dark-200;
    }

    .brand {
      height: 44px;
      width: calc(100% - 10px);
      text-decoration: none;
      margin-bottom: 20px;
      flex-shrink: 0;
      margin-left: 10px;

      @media (min-width: $md-break) {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 14px;
        width: 44px;
      }

      @media (min-width: $lg-break) {
        margin-right: 0;
        width: 190px;
      }

      .logo {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .text-menu {
      @include nav-text-menu;
      margin-bottom: 20px;

      @media (min-width: $md-break) {
        margin-bottom: 0;
        margin-right: 6px;
      }
    }

    .search-bar {
      margin-bottom: 20px;
      width: calc(100% - 30px);

      @media (min-width: $sm-break) {
        width: 320px;
      }

      @media (min-width: $md-break) {
        width: 168px;
        margin-right: 14px;
        margin-bottom: 0;
        flex-grow: 1;
      }

      @media (min-width: $lg-break) {
        width: 220px;
      }

      @media (min-width: $xl-break) {
        width: 320px;
        margin-right: 33px;
        flex-grow: 0;
      }

      @media (min-width: $xxl-break) {
        width: 400px;
      }
    }

    .switch-menu {
      display: flex;
      position: absolute;
      right: 50px;
      top: 18px;
      align-items: center;

      @media (min-width: $md-break) {
        position: relative;
        top: auto;
        right: auto;
      }

      .switch-theme {
        cursor: pointer;
        margin: 0 14px;

        @media (min-width: $lg-break) {
          margin: 0 20px;
        }
      }

      svg {
        width: 18px;
        height: 18px;
      }

      @include themify(day) {
        @apply text-gray-warm;
      }

      @include themify(night) {
        @apply text-blue-duck-egg;
      }

      @media (max-width: $sm-break) {
        width: 100%;
        .switch-language {
          width: 100%;
          .custom-dropdown {
            width: 100%;
          }
        }
      }
    }

    .submit-post {
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;

      @media (min-width: $md-break) {
        display: none;
      }
    }

    .btn-menu {
      display: flex;

      .login-required {
        margin-left: 1rem;
        .btn {
          margin-right: 4px;
        }

        .btn-login {
          border: none !important;
        }

        @media (min-width: $xl-break) {
          .btn {
            margin-right: 6px;
          }
        }
      }
    }
  }

  &.can-float {
    @media (min-width: $md-break) {
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      height: 64px;
      width: 100%;
      animation: anim-fadein .3s;

      @include themify(day) {
        @apply bg-light-200;
        @apply shadow-nav;
      }

      @include themify(night) {
        @apply bg-dark-200;
      }
    }
  }
}

.transparent {
  background: transparent !important;
  box-shadow: none !important;
}

// Custom dropdown colors
.nav-bar, .nav-bar-sm {
  .custom-dropdown {
    .dropdown-btn {
      @include themify(day) {
        @apply text-gray-warm;
      }

      @include themify(night) {
        @apply text-blue-duck-egg;
        opacity: 0.8;
      }
    }
  }
}

.nav-bar-rep {
  display: none;

  @media (min-width: $md-break) {
    display: block;
    margin-bottom: 30px;
    height: 64px;
  }
}

body.medium-zoom--opened {
  .nav-bar {
    display: none !important;
  }
}

.pencil {
  svg {
    width: 19px !important;
    height: 19px !important;
  }
  @include themify(day) {
    @apply text-gray-warm;
  }

  @include themify(night) {
    @apply text-blue-duck-egg;
  }

  @media (max-width: $md-break) {
    display: none;
  }
}

.visible-sm {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0;
  margin: 0;
  z-index: $zindex-navbar-overlay-sm !important;

  @include themify(day) {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }

  @include themify(night) {
    @apply bg-dark-200;
  }
}

.text-dark {
  @include themify(night) {
    @apply text-gray-light;
  }
}

.navbar-icon {
  width: 21px;
  height: 21px;
  svg, path, rect {
    @include themify(night) {
      @apply fill-gray-light;
    }
  }
}

.icon-stroke {
  width: 21px;
  height: 21px;
  svg, path, rect {
    @include themify(night) {
      @apply stroke-gray-light;
    }
  }
}

.text-15 {
  font-size: 17px;
}

.list-item {
  .switch-menu {

    .menu-list {
      max-height: 400px;
      overflow-y: auto;
    }

    top: 11px !important;
    right: unset !important;
    left: 54px !important;

    .label {
      font-size: 17px !important;
      font-weight: unset !important;
      @include themify(night) {
        @apply text-gray-light;
      }
      @include themify(day) {
        @apply text-dark-default;
      }
    }

    .dropdown-btn {
      opacity: 1 !important;
    }

    svg {
      display: none;
    }

    .menu-down {
      display: none !important;
    }
  }

  &:hover {
    @apply bg-blue-powder;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    @include themify(night) {
      @apply bg-gradient-primary-night-270;
    }
  }
}

.dot {
  width: 5px;
  height: 5px;
  @apply bg-pink;
  border-radius: 50%;
}

.menu-container {
  min-height: 441px;
  margin-top: 0.75rem;
  .menu-container-inner {
    position: absolute;
    right: -22px;
    width: 100%;
  }
}

.text-white {
  path {
    @apply stroke-white;
  }
}

.menu-item {
  @media (max-width: $sm-break) {
    margin-top: 19px;
  }
  .item-text {
    @apply text-black;
    margin-left: 64px;
    @include themify(night) {
      @apply text-gray-light;
    }
  }
}

.menu-item-profile {
  border-radius: 50rem;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  @apply bg-blue-dark-sky;
  right: -22px;
  .user-avatar {
    width: 56px !important;
    height: 56px !important;
  }

  svg {
    width: 10px;
  }
}

.sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: $zindex-navbar-sm;
}

.sticky-container {
  z-index: 10;
  position: fixed;
  height: 86px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .nav-bar-inner {
    box-shadow: none !important;
  }
}

.modal-backdrop{
  z-index: $zindex-navbar-overlay-backdrop-sm !important;
}

.modal {
  z-index: $zindex-navbar-overlay-backdrop-sm !important;
}

.can-float {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 64px;
  width: 100%;
  -webkit-animation: anim-fadein .3s;
  animation: anim-fadein .3s;
}