.nav-bar {
  user-select: none;
  margin-bottom: 20px;
  position: relative;
  padding: 16px 0;

  @media (min-width: $md-break) {
    padding: 0;
    margin-bottom: 30px;
    height: 64px;
  }

  @include themify(day) {
    background: $white-two;
    box-shadow: 0 0 2px 1px $white-six;
  }

  @include themify(night) {
    background: $dark-two;
  }

  .nav-bar-inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $md-break) {
      height: 100%;
      padding: 0 10px;
      flex-direction: row;
    }

    @media (min-width: $lg-break) {
      padding: 0 20px;
    }

    .brand {
      height: 44px;
      width: 44px;
      text-decoration: none;
      margin-bottom: 24px;
      flex-shrink: 0;

      @media (min-width: $md-break) {
        margin-bottom: 0;
        margin-right: 14px;
      }

      @media (min-width: $lg-break) {
        margin-right: 0;
        width: 230px;
      }

      .logo {
        width: 44px;
        height: 44px;
      }
    }

    .text-menu {
      justify-content: center;
      height: 100%;
      align-items: center;
      display: flex;
      margin-bottom: 20px;

      @media (min-width: $md-break) {
        display: flex;
        margin-bottom: 0;
        margin-right: 14px;
      }

      .menu-item {

        @include themify(day) {
          color: $gunmetal;

          &:hover {
            color: $warm-grey;
          }
        }

        @include themify(night) {
          color: $duck-egg-blue;

          &:hover {
            color: $silver;
          }
        }

        &:not(:last-child) {
          margin-right: 8px;

          @media (min-width: $lg-break) {
            margin-right: 14px;
          }

          @media (min-width: $xl-break) {
            margin-right: 18px;
          }
        }
      }
    }

    .search-bar {
      margin-bottom: 20px;
      width: 250px;

      @media (min-width: $sm-break) {
        width: 320px;
      }

      @media (min-width: $md-break) {
        margin-right: 14px;
        margin-bottom: 0;
        flex-grow: 1;
      }

      @media (min-width: $lg-break) {

      }

      @media (min-width: $xl-break) {
        width: 240px;
        margin-right: 18px;
        flex-grow: 0;
      }

      @media (min-width: $xxl-break) {
        width: 300px;
        margin-right: 40px;
      }
    }

    .switch-theme {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 24px;

      @media (min-width: $md-break) {
        position: relative;
        top: auto;
        right: auto;
        margin-right: 14px;
      }

      @media (min-width: $xl-break) {
        margin-right: 18px;
      }

      @media (min-width: $xxl-break) {
        margin-right: 40px;
      }

      svg {
        width: 18px;
        height: 18px;
      }

      @include themify(day) {
        color: $silver;
      }

      @include themify(night) {
        color: $duck-egg-blue;
        opacity: 0.8;
      }
    }

    .downloads {
      background: linear-gradient(270deg, #2d5aa0 4.68%, #357ce6 98.13%);
      border-radius: 25px;
      padding: 8px 12px;
      color: $white;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 200px;
      margin-bottom: 20px;

      @media (min-width: $md-break) {
        width: auto;
        margin-bottom: 0;
        margin-right: 14px;
        display: block;
        padding: 2px 12px;
      }

      @media (min-width: $xl-break) {
        margin-right: 18px;
        padding: 8px 16px;
        display: flex;
      }

      &:hover {
        background: linear-gradient(120deg, #2d5aa0 4.68%, #357ce6 98.13%);
        color: $white;
      }

      .label {
        margin-right: 10px;

        @media (min-width: $md-break) {
          margin-right: 0;
          text-align: center;
          font-size: 14px;
        }

        @media (min-width: $xl-break) {
          margin-right: 6px;
          font-size: 16px;
        }
      }

      .icons {
        display: flex;
        align-items: center;

        @media (min-width: $md-break) {
          justify-content: center;
        }

        @media (min-width: $xl-break) {
          justify-content: flex-start;
        }

        .img-apple {
          margin-right: 11px;

          svg {
            height: 14px;
            margin-top: -2px;
          }
        }

        .img-google {
          margin-right: 7px;

          svg {
            height: 12px;
          }
        }

        .img-desktop {
          svg {
            height: 12px;
          }
        }
      }
    }

    .login-required {
      margin-bottom: 10px;
      display: flex;

      .btn {
        &:not(:last-child) {
          margin-right: 4px;
        }
      }

      @media (min-width: $md-break) {
        margin-right: 14px;
        margin-bottom: 0;
      }

      @media (min-width: $xl-break) {
        margin-right: 18px;
        .btn {
          &:not(:last-child) {
            margin-right: 6px;
          }
        }
      }
    }
  }
}
