.deck {
    background-color: $white;
    min-width: 379px;
    height: fit-content
}

.deck-header path {
    fill: $black !important;
    padding: 0.69rem !important
}

.icon {
    width: 20px;
    height: 20px;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.header-title {
    font-size: 16px;
    font-weight: 600;
}

.index {
    font-size: 13px;
    font-weight: 400;
    background-image: url(../../img/index-bg.png);
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}