.entry-delete-btn {
  color: $steel-grey;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  @include themify(night) {
    font-weight: 500;
  }

  svg {
    height: 16px;
    opacity: 0.8;
  }

  &.in-progress {
    animation: anim-fadein-out 5s infinite;
    pointer-events: none;

    svg {
      opacity: 1;
    }
  }
}
