.import-chats {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 410px;
  // height: 50%;
  // width: 100%;
  // background-color: green;
  .import-chats-container {
    // width: 50%;
    // background-color: red;
  }
}
