.voters-list{
    min-height: 290px;

    &.loading{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.voters-pagination{
    display: flex;
    align-items: center;
    justify-content: center;

    .page-numbers{
        margin: 0 10px;

        .current-page{
            font-weight: 500;
        }
    }
}