.editor-toolbar {
  align-items: center;
  display: flex;
  height: 44px;

  @include themify(day) {
    background: $white-three;
  }

  @include themify(night) {
    background: $dark-two;
  }

  .editor-tool {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 39px;
    flex-shrink: 0;

    @include themify(day) {
      color: $steel-grey;

      &:hover {
        background: darken($white-three, 5);
      }
    }

    @include themify(night) {
      color: $pinkish-grey;

      &:hover {
        background: darken($dark-two, 8);
      }
    }

    svg {
      height: 22px;
    }

    .sub-tool-menu {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: none;
      right: 0;
      position: absolute;
      top: 100%;
      white-space: nowrap;
      width: auto;
      z-index: 2;
      min-width: 100%;
      overflow: hidden;

      @include themify(day) {
        background: darken($white-three, 5);
      }

      @include themify(night) {
        background: $dark-two;
      }

      .sub-tool-menu-item {
        padding: 10px 6px;

        &:hover {
          @include themify(day) {
            background: $white-three;
          }

          @include themify(night) {
            background: darken($dark-two, 8);
          }
        }
      }
    }

    .emoji-picker {
      display: none;
      top: 44px;
    }

    &:hover {
      .sub-tool-menu {
        display: block;
      }

      .emoji-picker {
        display: block;
      }
    }
  }

  .tool-separator {
    height: 24px;
    margin: 0 6px;
    width: 1px;

    @include themify(day) {
      background: $white-four;
    }

    @include themify(night) {
      background: $dark-two;
    }
  }

  &.toolbar-sm {
    height: 34px;

    .editor-tool {
      width: 29px;

      svg {
        height: 18px;
      }
    }

    .emoji-picker {
      top: 34px
    }

    .tool-separator {
      height: 18px;
    }
  }
}
