.key-or-hot {
  max-width: 500px;
  margin: 20px auto 0 auto;
  padding-bottom: 26px;

  .hs-sign {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .hs-logo {
      height: 14px;
      margin-right: 6px;
    }
  }
}
