.section-title {
  font-weight: bold;
  font-size: 1rem;

  @include themify(day) {
    color: $light-black;
  }

  @include themify(night) {
    color: $white;
  }
}

.section-card {
  padding: 1rem;
}

.section-container {
  @include themify(night) {
    background: $dark;
  }
}

.section-content:hover {
  background: $white-four;
}

.section-content {
  font-size: 0.875rem;
  padding: 1rem 2.2rem;
  font-weight: 400;
  display: block;
  @media (max-width: $sm-break) {
    padding: 0.7rem 2.2rem;
  }
}