@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.faq-container.section-container {
  @include themify(night) {
    background: $dark;
  }
}

.faq-container {
  .section {
    cursor: pointer;
  }
  .section :hover {
    @include themify(day) {
      background: $light-powder-blue;
    }

    @include themify(night) {
      background: $gunmetal;
    }
  }
  .section-body {
    padding: 9px 0px;
  }

  .section-title {
    font-weight: bold;
    font-size: 1rem;

    @include themify(day) {
      color: $light-black;
    }

    @include themify(night) {
      color: $white;
    }
  }

  .section-card {
    padding: 1rem;
  }

  .section-content:hover {
    background: $white-four;
  }

  .section-content {
    font-size: 0.875rem;
    padding: 1rem 2.2rem;
    font-weight: 400;
    display: block;
    @media (max-width: $sm-break) {
      padding: 0.7rem 2.2rem;
    }
  }
}
