@import "../../../../style/vars_mixins";

.chats-profile-box {
  .user-profile {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 266px;

    @include themify(day) {
      background: $white-three;
    }
    @include themify(night) {
      background: #172b44;
    }

    padding: 0 16px 16px 16px;
    margin: 0 16px 16px 16px;

    .user-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      cursor: pointer;
    }
    .user-name {
      font-size: 20px;
      font-weight: 700;
      @include themify(day) {
        color: $charcoal-grey;
      }
      @include themify(night) {
        color: $white;
      }
    }
    .about {
      text-align: center;
      padding: 4px 0;
      @include themify(day) {
        color: $charcoal-grey;
      }
      @include themify(night) {
        color: $white;
      }
    }
    .joining-info {
      justify-content: space-evenly;
    }
    .created-date {
      padding-top: 8px;
      font-size: 14px;
      @include themify(day) {
        color: $charcoal-grey;
      }
      @include themify(night) {
        color: $white;
      }
    }
    .followers {
      font-size: 14px;
      padding-top: 4px !important;
      font-family: New Century Schoolbook;
    }
  }
}
