@import "src/style/colors";
@import "src/style/variables";
@import "src/style/bootstrap_vars";
@import "src/style/mixins";

.community-menu {
  display: flex;
  height: 50px;
  margin-bottom: 10px;

  @include themify(day) {
    border-bottom: 1px solid;
    @apply border-light-400;
  }

  @include themify(night) {
    border-bottom: 1px solid;
    @apply border-dark-200;
  }

  .menu-items {
    display: flex;
    justify-content: flex-start;
    padding: 0 6px;
    width: auto;
    flex-grow: 1;

    .community-menu-item {
      align-items: center;
      @apply text-gray-steel;
      display: flex;
      font-size: 14px;
      height: 50px;
      padding: 0 8px;
      cursor: pointer;

      .dropdown-btn {
        .label {
          font-size: 14px !important;
        }
      }

      &:hover {
        @apply text-blue-dark-sky;
      }

      @media (min-width: $sm-break) {
        padding: 0 16px;
        font-size: 16px;

        .dropdown-btn {
          .label {
            font-size: 16px !important;
          }
        }
      }

      @media (min-width: $md-break) {
        margin-right: 32px;
        padding: 0;
      }

      &.selected-item {
        border-bottom: 2px solid;
        @apply border-blue-dark-sky;
        @apply text-blue-dark-sky;
        font-weight: 700;

        .dropdown-btn {
          .label {
            font-weight: 700;
          }
        }
      }
    }
  }

  .page-tools {
    align-items: center;
    display: none;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 18px;

    @media (min-width: $md-break) {
      display: flex;
    }
  }
}
