.feedback-container {
  position: fixed;
  z-index: 9000;
  left: calc(50% - 150px);
  width: 300px;
  height: 20px;
  padding-top: 2px;

  @media (min-width: $md-break) {
    left: calc(50% - 250px);
    width: 500px;
  }

  .alert {
    .alert-inner {
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      svg {
        flex-shrink: 0;
        height: 16px;
        margin-right: 6px;
      }
    }
  }
}
