.community-subscribers {
  .user-list {
    .user-list-body {
      display: grid;
      margin-top: 10px;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: $sm-break) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $lg-break) {
        grid-template-columns: repeat(4, 1fr);
      }

      .user-list-item {
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        cursor: pointer;

        @include themify(day) {
          background: $white-three;
        }

        @include themify(night) {
          background: $dark-two;
        }

        .user-avatar {
          margin: 0 auto 12px auto;
        }

        .user-name {
          font-weight: 500;
          margin-bottom: 6px;

          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $pinkish-grey;
          }

          &::before {
            content: "@";
          }
        }
      }
    }
  }
}
