.vote-svg {
    width: 9px !important;
    height: 9px !important;
}
  
.slider-svg-up {
    width: 12.5px !important;
    height: 9px !important;
    margin-top: -0.65px;
}
  
.slider-svg-down {
    width: 13px !important;
    height: 9px !important;
    margin-top: 0.65px;
}
  
  