name: Master CI/CD
on:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, lint and/or test
      run: |
        yarn
        yarn test --runInBand --updateSnapshot
      env:
        CI: true
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ecency/vision:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  deploy-EU:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
        PRIVATE_API_ADDR: ${{secrets.PRIVATE_API_ADDR}}
        PRIVATE_API_AUTH: ${{secrets.PRIVATE_API_AUTH}}
        HIVESIGNER_CLIENT_SECRET: ${{secrets.HIVESIGNER_CLIENT_SECRET}}
        SEARCH_API_ADDR: ${{secrets.SEARCH_API_ADDR}}
        SEARCH_API_SECRET: ${{secrets.SEARCH_API_SECRET}}
        API_PORT: ${{secrets.API_PORT}}
      with:
        host: ${{ secrets.SSH_HOST_EU }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE,REDIS_HOST_PASSWORD,PRIVATE_API_ADDR,PRIVATE_API_AUTH,HIVESIGNER_CLIENT_SECRET,SEARCH_API_ADDR,SEARCH_API_SECRET,API_PORT
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          export PRIVATE_API_ADDR=$PRIVATE_API_ADDR
          export PRIVATE_API_AUTH=$PRIVATE_API_AUTH
          export HIVESIGNER_CLIENT_SECRET=$HIVESIGNER_CLIENT_SECRET
          export SEARCH_API_ADDR=$SEARCH_API_ADDR
          export SEARCH_API_SECRET=$SEARCH_API_SECRET
          export API_PORT=$API_PORT
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker pull ecency/api:latest
          docker-compose -f docker-compose.production.yml up -d

  deploy-US:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
        PRIVATE_API_ADDR: ${{secrets.PRIVATE_API_ADDR}}
        PRIVATE_API_AUTH: ${{secrets.PRIVATE_API_AUTH}}
        HIVESIGNER_CLIENT_SECRET: ${{secrets.HIVESIGNER_CLIENT_SECRET}}
        SEARCH_API_ADDR: ${{secrets.SEARCH_API_ADDR}}
        SEARCH_API_SECRET: ${{secrets.SEARCH_API_SECRET}}
        API_PORT: ${{secrets.API_PORT}}
      with:
        host: ${{ secrets.SSH_HOST_US }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE,REDIS_HOST_PASSWORD,PRIVATE_API_ADDR,PRIVATE_API_AUTH,HIVESIGNER_CLIENT_SECRET,SEARCH_API_ADDR,SEARCH_API_SECRET,API_PORT
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          export PRIVATE_API_ADDR=$PRIVATE_API_ADDR
          export PRIVATE_API_AUTH=$PRIVATE_API_AUTH
          export HIVESIGNER_CLIENT_SECRET=$HIVESIGNER_CLIENT_SECRET
          export SEARCH_API_ADDR=$SEARCH_API_ADDR
          export SEARCH_API_SECRET=$SEARCH_API_SECRET
          export API_PORT=$API_PORT
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker pull ecency/api:latest
          docker-compose -f docker-compose.production.yml up -d

  deploy-SG:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
        PRIVATE_API_ADDR: ${{secrets.PRIVATE_API_ADDR}}
        PRIVATE_API_AUTH: ${{secrets.PRIVATE_API_AUTH}}
        HIVESIGNER_CLIENT_SECRET: ${{secrets.HIVESIGNER_CLIENT_SECRET}}
        SEARCH_API_ADDR: ${{secrets.SEARCH_API_ADDR}}
        SEARCH_API_SECRET: ${{secrets.SEARCH_API_SECRET}}
        API_PORT: ${{secrets.API_PORT}}
      with:
        host: ${{ secrets.SSH_HOST_SG }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE,REDIS_HOST_PASSWORD,PRIVATE_API_ADDR,PRIVATE_API_AUTH,HIVESIGNER_CLIENT_SECRET,SEARCH_API_ADDR,SEARCH_API_SECRET,API_PORT
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          export PRIVATE_API_ADDR=$PRIVATE_API_ADDR
          export PRIVATE_API_AUTH=$PRIVATE_API_AUTH
          export HIVESIGNER_CLIENT_SECRET=$HIVESIGNER_CLIENT_SECRET
          export SEARCH_API_ADDR=$SEARCH_API_ADDR
          export SEARCH_API_SECRET=$SEARCH_API_SECRET
          export API_PORT=$API_PORT
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker pull ecency/api:latest
          docker-compose -f docker-compose.production.yml up -d
