name: Master CI/CD
on:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, lint and/or test
      run: |
        yarn
        cd src/desktop
        yarn
        cd ../../
        yarn test --runInBand --updateSnapshot
      env:
        CI: true
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ecency/vision:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  deploy-EU:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
      with:
        host: ${{ secrets.SSH_HOST_EU }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE, REDIS_HOST_PASSWORD
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker stack deploy -c docker-compose.yml -c docker-compose.production.yml vis

  deploy-US:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
      with:
        host: ${{ secrets.SSH_HOST_US }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE, REDIS_HOST_PASSWORD
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker stack deploy -c docker-compose.yml -c docker-compose.production.yml vision

  deploy-SG:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: SSH and deploy node app
      uses: appleboy/ssh-action@master
      env:
        USE_PRIVATE: ${{secrets.USE_PRIVATE}}
        REDIS_HOST_PASSWORD: ${{secrets.REDIS_HOST_PASSWORD}}
      with:
        host: ${{ secrets.SSH_HOST_SG }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        envs: USE_PRIVATE, REDIS_HOST_PASSWORD
        script: |
          export USE_PRIVATE=$USE_PRIVATE
          export REDIS_HOST_PASSWORD=$REDIS_HOST_PASSWORD
          cd ~/vision-production
          git pull origin master
          docker pull ecency/vision:latest
          docker stack deploy -c docker-compose.yml -c docker-compose.production.yml vision
